<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title> Vendor Management</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/img/KMRL.png">
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">

	 <!-- Fearther CSS -->
	<link rel="stylesheet" href="assets/css/feather.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">
	
	<!-- Main CSS -->
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
	<div class="main-wrapper">
		<div class="container">
			<div class="invoice-wrapper index-four ">
				<div class="inv-content">
					<div class="invoicenine-header">
					<div class="invoice-header">
		                <div class="inv-header-left">
		                	<h4>TAX INVOICE</h4>
		                </div>
		                <div class="inv-header-right">
		                	<img src="assets/img/KMRL-logo.png" width="125px" alt="Logo">
							<p><b>ORIGINAL FOR RECEPIENT/ DUPLICATE FOR SUPPLIER</b></p>
							
							
		                </div>					    
				    </div>
				    <div class="company-details">
				    
				    	<div class="company-content">
				    		<div class="company-content-left">
						    	<img src="assets/img/istockphoto-828088276-612x612.jpg" width="200px" alt="">
		         			</div>
		         			<div class="inv-header-right">
				               	<div class="inv-details">
				               		<div class="inv-date">Invoice No: <span>9005197</span></div>
					           		<div class="inv-date mb-0">Invoice Date: <span>24/04/2023</span></div>					               
					            </div>	
				            </div>
				    	</div>			   				    	
				    </div>	
				    </div>
				    <div class="invoice-address">
				    	<div class="invoice-to">
				    		<span>Bill To:</span>
				    		<div class="inv-to-address">
				    			Company/Customer<br>
				    			First Floor <br>
				    			682017, district<br>
				    			state <br>
				    			GSTIN: <br>
								PAN No: <br>
								State Code:  <br>
								Place of Supply:  <br>
								Payment Due Date:  <br>
								<br> <br>
								IRN No.:  <br>
								Acknowledge No.: <br>
								Acknowledge Date: 
				    		</div>
				    	</div>
				    	<div class="invoice-to">
				     		<div class="inv-to-address float-end">
				    			Kochi<br> Property 1,<br>
				    			city, district,<br>
				    			Kerala-pincode<br>
				    			GSTIN: <br>
								PAN No: <br>
								State Code:  <br>
								Contract No:  <br>
								Contract Date: 

				    		</div>
				    	</div>				    				    	
				    </div>
				    <div class="invoice-table">
				    	<div class="table-responsive">
			                <table>
								<thead>
										<tr>
											<th class="table_width_1">S.No.</th>
											<th class="table_width_2">Product Description</th>
											<th class="table_width_2">Plant</th>
											<th class="table_width_1 text-center">SAC CODE</th>
											<th class="table_width_4 text-center">Taxable Value (Rs.)</th>
											<th class="table_width_1 text-center">%</th>
											<th class="table_width_4 text-center">CGST</th>
											<th class="table_width_1 text-center">%</th>
											<th class="table_width_4 text-center">SGST</th>
											<th class="table_width_4 text-center">Total Amt(Rs.)</th>


										</tr>
								</thead>
			                  <tbody>
									<tr>
										<td>1</td>	
										<td class="">Product 1</td>
										<td class="table-description">Property 1</td>
										<td class="text-center">997212</td>
										<td class="text-end">11,025.00</td>
										<td class="text-end">9</td>
										<td class="text-end">992.25</td>
										<td class="text-end">9</td>
										<td class="text-end">992.25</td>
										<td class="text-end">13,009.50</td>
									</tr>
									<tr>
										<td>2</td>	
										<td class="">Product 2</td>
										<td class="table-description"></td>
										<td class="text-center">997212</td>
										<td class="text-end">1,102.50</td>
										<td class="text-end">9</td>
										<td class="text-end">99.23</td>
										<td class="text-end">9</td>
										<td class="text-end">99.23</td>
										<td class="text-end">1,300.96</td>
									</tr>
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td class="text-end">12,127.50</td>
										<td></td>
										<td class="text-end">1,091.48</td>
										<td></td>
										<td class="text-end">1,091.48</td>
										<td class="text-end">14,310.46</td>
									</tr>
			                  </tbody>
			                </table>			               
			            </div>
				    </div>
				     <div class="invoice-table-footer">
				    	<div class="table-footer-left notes">
				    		<span>Text Note 1:</span> <div class="delivery-notes">Space 1: <br>License fee 525 sq.ft. @ Rs 21/sq.ft.</div>

				    	</div>
				    	<div class="text-end table-footer-right">
			                <table>
				                <tbody>
				                   <tr>
				                      <td>Taxable Amount</td>
				                      <td>12,127.50</td>
				                    </tr>
				                    <tr>
				                      <td>CGST 9.0%</td>
				                      <td>1,091.48</td>
				                    </tr>
				                    <tr>
				                      <td>SGST 9.0% </td>
				                      <td>1,091.48</td>
				                    </tr>				                    
				                </tbody>
				            </table>
			            </div> 
				    </div>	
				    <div class="invoice-table-footer totalamount-footer">
			            <div class="table-footer-left">       
                            <!-- <p class="total-info">Total Items / Qty : 4 / 4.00</p> -->
			            </div>
			            <div class="table-footer-right">       
                            <table class="totalamt-table">
				                <tbody>
				                   <tr>
				                      <td>Total</td>
				                      <td>14,310.46</td>
				                    </tr>				                    				                    
				                </tbody>
				            </table>
			            </div>			                           	
			        </div>
			        <div class="total-amountdetails">
			        	<p>Total amount (in words): <span>Rupees FOURTEEN THOUSAND THREE HUNDRED TEN and FORTY SIX Paise ONLY</span></p>
			        </div>		        
			        <div class="bank-details">			        	
			        	<div style="color: black;" class="payment-info">
			        		<div >Tax Payable on RCM: NO</div> 
			        		<div>1. Deduct TDS on amount excluding GST</div>
			        		<div>2. Please arrange to make the payment by bank transfer to our following Bank Account</div>
			        	</div>
			        	
			        </div>
			        <div class="terms-condition">
						<div class="row ">
							<div class="col-sm-2 ">
								<img  src="assets/img/istockphoto-828088276-612x612.jpg" width="140px" alt="">
							</div>
							<div class="col-sm-3 mt-3 p-0">
								<span style="color: black;" > 
									BANK NAME <br> BRANCH NAME <br>A/C No <br>IFSC CODE <br>UPI ID </span>
							</div>
							<div class="col-sm-7">

								<div style="color: black;"class="float-end">
								<span >FOR Company </span>
								<img src="assets/img/signature.png" alt="">
								<span>Authorized Signatory</span>
							</div>
			        		
			        	</div>
						</div>
						
					</div>	
					<div style="color: black;" class="thanks-msg text-center">
						<h6> Company Name</h6> 
						Property 1, city, district, state-pincode|CIN: <br>
						Ph: 0423-3433, 0423-456775|Fax: 045644422| contact@123.co.in| www.company.org
					</div>
				</div>												
		    </div>
			<!-- <div class="file-link">
				<button class="download_btn download-link">         
					<i class="feather-download-cloud me-1"></i> <span>Download</span>
				</button>
				<a href="javascript:window.print()" class="print-link">         
					<i class="feather-printer"></i>  <span class="">Print</span>
				</a>
			</div> -->
		</div>
	</div>    
    <!-- jQuery -->
	<script src="assets/js/jquery-3.6.3.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="assets/js/bootstrap.bundle.min.js"></script>

	<!-- Fearther JS -->
	<script src="assets/js/feather.min.js"></script>
	
	<!-- Custom JS -->
	<script src="assets/js/script.js"></script>
	
</body>
</html>




