<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title> Vendor Management</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/img/KMRL.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

	<!-- Feather CSS -->
	<link rel="stylesheet" href="assets/plugins/feather/feather.css">

	<!-- Datepicker CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">

	<!-- Datatables CSS -->
	<link rel="stylesheet" href="assets/plugins/datatables/datatables.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="assets/css/style.css">
</head>

<body>


	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Header -->
		<div class="header header-one">

			<!-- Sidebar Toggle -->
			<a href="javascript:void(0);" id="toggle_btn">
				<span class="toggle-bars">
					<span class="bar-icons"></span>
					<span class="bar-icons"></span>
					<span class="bar-icons"></span>
					<span class="bar-icons"></span>
				</span>
			</a>
			<!-- /Sidebar Toggle -->

			<!-- Search -->
			<div class="top-nav-search">
				<form>
					<input type="text" class="form-control" placeholder="Search here">
					<button class="btn" type="submit"><img src="assets/img/icons/search.svg" alt="img"></button>
				</form>
			</div>
			<!-- /Search -->

			<!-- Mobile Menu Toggle -->
			<a class="mobile_btn" id="mobile_btn">
				<i class="fas fa-bars"></i>
			</a>
			<!-- /Mobile Menu Toggle -->

			<!-- Header Menu -->
			<ul class="nav nav-tabs user-menu">
				<!-- Flag -->
			
				<!-- /Flag -->


				<li class="nav-item  has-arrow dropdown-heads ">
					<a href="javascript:void(0);" class="toggle-switch">
						<i class="fe fe-moon"></i>
					</a>
				</li>
				<li class="nav-item dropdown  flag-nav dropdown-heads">
					<a class="nav-link" data-bs-toggle="dropdown" href="#" role="button">
						<i class="fe fe-bell"></i> <span class="badge rounded-pill"></span>
					</a>
					<div class="dropdown-menu notifications">
						<div class="topnav-dropdown-header">
							<span class="notification-title">Notifications</span>
							<a href="javascript:void(0)" class="clear-noti"> Clear All</a>
						</div>
						<div class="noti-content">
                            <ul class="notification-list">
								<li class="notification-message">
									<a href="profile.html">
										<div class="media d-flex">
											<span class="avatar avatar-sm">
												<img class="avatar-img rounded-circle" alt=""
													src="assets/img/profiles/thomas.jpg">
											</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Thomas Paul</span>
													paid the invoice <span class="noti-title">#DF65485</span></p>
												<p class="noti-time"><span class="notification-time">4 mins ago</span>
												</p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="profile.html">
										<div class="media d-flex">
											<span class="avatar avatar-sm">
												<img class="avatar-img rounded-circle" alt=""
													src="assets/img/profiles/joe.jpg">
											</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Joe </span> has
													accepted the credit note <span class="noti-title">#GTR458789</span>
												</p>
												<p class="noti-time"><span class="notification-time">6 mins ago</span>
												</p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="profile.html">
										<div class="media d-flex">
											<div class="avatar avatar-sm">
												<span class="avatar-title rounded-circle bg-primary-light"><i
														class="far fa-user"></i></span>
											</div>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">New user
														registered</span></p>
												<p class="noti-time"><span class="notification-time">8 mins ago</span>
												</p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="profile.html">
										<div class="media d-flex">
											<span class="avatar avatar-sm">
												<img class="avatar-img rounded-circle" alt=""
													src="assets/img/profiles/joseph.jpg">
											</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Joseph</span>
													declined the invoice <span class="noti-title">#RDW026896</span></p>
												<p class="noti-time"><span class="notification-time">12 mins ago</span>
												</p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="profile.html">
										<div class="media d-flex">
											<div class="avatar avatar-sm">
												<span class="avatar-title rounded-circle bg-info-light"><i
														class="far fa-comment"></i></span>
											</div>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">You have received a new
														message</span></p>
												<p class="noti-time"><span class="notification-time">2 days ago</span>
												</p>
											</div>
										</div>
									</a>
								</li>
							</ul>
                        </div>
						<div class="topnav-dropdown-footer">
							<a href="notifications.html">View all Notifications</a>
						</div>
					</div>
				</li>
				<li class="nav-item  has-arrow dropdown-heads ">
					<a href="javascript:void(0);" class="win-maximize">
						<i class="fe fe-maximize"></i>
					</a>
				</li>
				<!-- User Menu -->
				<li class="nav-item dropdown">
					<a href="javascript:void(0)" class="user-link  nav-link" data-bs-toggle="dropdown">
						<span class="user-img">
							<img src="assets/img/profiles/michael.jpg" alt="img" class="profilesidebar">
							<span class="animate-circle"></span>
						</span>
						<span class="user-content">
							<span class="user-details">Admin</span>
							<span class="user-name">Michael</span>
						</span>
					</a>
					<div class="dropdown-menu menu-drop-user">
						<div class="profilemenu">
							<div class="subscription-menu">
								<ul>
									<li>
										<a class="dropdown-item" href="profile.html">Profile</a>
									</li>
									<li>
										<a class="dropdown-item" href="settings.html">Settings</a>
									</li>
								</ul>
							</div>
							<div class="subscription-logout">
								<ul>
									<li class="pb-0">
										<a class="dropdown-item" href="login.html">Log Out</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</li>
				<!-- /User Menu -->

			</ul>

			<!-- /Header Menu -->

		</div>
		<!-- /Header -->

				<!-- Sidebar -->
				<div class="sidebar" id="sidebar">
					<div class="sidebar-header">
						<div class="sidebar-logo">
							<a href="index.html">
								<img src="assets/img/KMRL-logo.png" class="img-fluid logo" alt="">
		
							</a>
							<a href="index.html">
								<img src="assets/img/KMRL-logo.png" class="img-fluid logo-small " alt="">
							</a>
						</div>
					</div>
					<div class="sidebar-inner slimscroll">
						<div id="sidebar-menu" class="sidebar-menu">
							<!-- Main -->
		
							<ul>
		
								<li>
									<a href="index.html"><i class="fa-solid fa-house"></i> <span>Dashboard</span></a>
								</li>
								<li class="menu-title mt-3"><span>Spaces</span></li>
								<!-- <li>
									<a href="view_metrostation.html"><i class="fa fa-subway" aria-hidden="true"></i>
										<span>Metro Stations</span></a>
								</li> -->

								<li>
									<a class="" href="view_properties.html"><i class="fa fa-subway" aria-hidden="true"></i>
										<span>Properties</span></a>
								</li>
		
								<li>
									<a href="view_space.html"><i class="fa-solid fa-hotel"></i></i><span>Spaces</span></a>
								</li>
								
							</ul>
							
							<!-- Customers -->
							<ul>
								<li class="menu-title"><span>Customers</span></li>
								<li>
									<a class="" href="customers.html"><i class="fa-solid fa-users"></i><span>Customers</span></a>
								</li>
								
								<li>
									<a href="view_contract.html"><i class="fa-solid fa-file-contract"></i><span>Contracts</span></a>
								</li>
							</ul>
							<!-- /Customers -->
		
							
							<!-- Sales -->
							<ul>
								<li class="menu-title"><span>Payments</span></li>
								<li class="submenu">
		
								<li><a href="invoices.html"><i class="fa fa-receipt"></i> <span>Invoices</span> </a></li>
		
								</li>
							
								<li>
									<a href="credit-notes.html"><i class="fa fa-sticky-note" aria-hidden="true"></i>
										<span>Credit Notes</span></a>
								</li>
								<li>
									<a href="payments.html"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>
									</i> <span>Payments</span></a>
								</li>
							</ul>
		
							<!-- Reports -->
							<ul>
								<li class="menu-title"><span>Reports</span></li>
								
								<li>
									<a href="payment-summary.html"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> <span>Payment
											Summary</span></a>
								</li>
							</ul>
							<!-- /Reports -->
		
							<!-- User Management -->
							<ul>
								<li class="menu-title"><span>User Management</span></li>
								<li class="submenu">
		
								<li><a href="users.html"><i class="fa-solid fa-user"></i> <span>Manage Users</span> </a></li>
		
								</li>
								<li>
									<a href="roles-permission.html"><i class="fa-solid fa-clipboard"></i> <span>Roles &
											Permissions</span></a>
								</li>
							</ul>
							<!-- /User Management -->
		
							
							<!-- Support -->
							<ul>
								<li class="menu-title"><span>Support</span></li>
								<li>
									<a href="contact-messages.html"><i class="fa-solid fa-comments"></i></i> <span>Grievances</span></a>
								</li>
							</ul>
							<!-- /Authentication -->
		
							<!-- Settings -->
							<ul>
								<li class="menu-title"><span>Settings</span></li>
								<li>
									<a class="active" href="settings.html"><i class="fa-solid fa-gear"></i> <span>Settings</span></a>
								</li>
								<li>
									<a href="login.html"><i class="fa-solid fa-power-off"></i><span>Logout</span></a>
								</li>
							</ul>
							<!-- /Settings -->
		
						</div>
					</div>
				</div>
				<!-- /Sidebar -->

		<!-- Page Wrapper -->
		<div class="page-wrapper">
			<div class="content container-fluid">

				<div class="row justify-content-lg-center">
					<div class="col-lg-11">

						<!-- Page Header -->
						<div class="page-header">
							<div class="content-page-header">
								<h5>Profile</h5>
							</div>
						</div>
						<!-- /Page Header -->

						<div class="profile-cover">
							<div class="profile-cover-wrap">
								<!-- <img class="profile-cover-img" src="assets/img/profiles/avatar-02.jpg" alt="Profile Cover" id="cover-image"> -->

								<!-- Custom File Cover -->
								<!-- <div class="cover-content">
										<div class="custom-file-btn">
											<input type="file" class="custom-file-btn-input" id="cover_upload">
											<label class="custom-file-btn-label btn btn-sm btn-white" for="cover_upload">
												<i class="fas fa-camera"></i>
												<span class="d-none d-sm-inline-block ms-1">Update Cover</span>
											</label>
										</div>
									</div> -->
								<!-- /Custom File Cover -->
							</div>
						</div>

						<div class="text-center mb-5">
							<label class="avatar avatar-xxl profile-cover-avatar" for="avatar_upload">
								<img class="avatar-img" src="assets/img/profiles/michael.jpg" alt="Profile Image"
									id="blah">
								<input type="file" id="avatar_upload">
								<span class="avatar-edit">
									<i class="fe fe-edit avatar-uploader-icon shadow-soft"></i>
								</span>
							</label>
							<h2>Michael</h2>
							<ul class="list-inline">
								<!-- <li class="list-inline-item">
									<i class="far fa-building"></i> <span>MCDonalds</span>
								</li> -->
								<li class="list-inline-item">
									<i class="fas fa-map-marker-alt"></i> Pathadipalam, Kerala
								</li>
								<li class="list-inline-item">
									<i class="far fa-calendar-alt"></i> <span>Joined November 2022</span>
								</li>

							</ul>
						</div>

						<!-- <div class="row"> -->
						<div class="row justify-content-lg-center">
							<div class="col-lg-7">
								<!-- <div class="card card-body">
									<h5>Complete your profile</h5> -->

									<!-- Progress -->
									<!-- <div class="d-flex justify-content-between align-items-center">
										<div class="progress progress-md flex-grow-1">
											<div class="progress-bar bg-primary" role="progressbar" style="width: 100%"
												aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<span class="ms-4">100%</span>
									</div> -->
									<!-- /Progress -->
								</div>

								<div class="card">
									<div class="card-header">
										<h5 class="card-title d-flex justify-content-between">
											<span>Profile</span>
											<a class="btn btn-sm btn-white" href="settings.html">Edit</a>
										</h5>
									</div>
									<div class="card-body">
										<ul class="list-unstyled mb-0">
											<div class="row">
												<!-- <div class="col-xl-3">

													<li class="pt-2 pb-0">
														<h6>Customer Number</h6>
													</li>
													<li>
														36000001
													</li>

												</div> -->

												<div class="col-xl-3">
													<li class="pt-2 pb-0">
														<h6>Name</h6>
													<li>
														Michael
													</li>

												</div>

												<div class="col-xl-3">
													<li class="pt-2 pb-0">
														<h6>Email</h6>
													</li>
													<li>
														michael@gmail.com
													</li>
												</div>
												<div class="col-xl-3">
													<li class="pt-2 pb-0">
														<h6>Phone Number</h6>
													<li>
														9834567800
													</li>
												</div>
												<!-- <div class="col-xl-3 mt-3">
													<li class="pt-2 pb-0">
														<h6>Business Type</h6>
													<li>
														F&B
													</li>
												</div> -->
												<!-- <div class="col-xl-3 mt-3">
													<li class="pt-2 pb-0">
														<h6>Business Name</h6>
													<li>
														MCDOnalds
													</li>
												</div>
												<div class="col-xl-3 mt-3">
													<li class="pt-2 pb-0">
														<h6>GST Number</h6>
													<li>
														A799DSJ372139
													</li>
												</div>
												<div class="col-xl-3 mt-3">
													<li class="pt-2 pb-0">
														<h6>Address</h6>
													</li>
													<li>
														8D SFS Eternia,<br>
														Pathadipalam,<br>
														Ernakulam, 682033
													</li>
												</div> -->
											</div>
										</ul>
									</div>
								</div>

							</div>

							<!-- <div class="col-lg-8">
									<div class="card">
										<div class="card-header">
											<h5 class="card-title">Activity</h5>
										</div>
										<div class="card-body card-body-height">
											<ul class="activity-feed">
												<li class="feed-item">
													<div class="feed-date">Nov 16</div>
													<span class="feed-text"><a href="profile.html">Brian Johnson</a> has paid the invoice <a href="invoice-details.html">"#DF65485"</a></span>
												</li>
												<li class="feed-item">
													<div class="feed-date">Nov 7</div>
													<span class="feed-text"><a href="profile.html">Marie Canales</a>  has accepted your estimate <a href="view-estimate.html">#GTR458789</a></span>
												</li>
												<li class="feed-item">
													<div class="feed-date">Oct 24</div>
													<span class="feed-text">New expenses added <a href="expenses.html">"#TR018756</a></span>
												</li>
												<li class="feed-item">
													<div class="feed-date">Oct 24</div>
													<span class="feed-text">New expenses added <a href="expenses.html">"#TR018756</a></span>
												</li>
												<li class="feed-item">
													<div class="feed-date">Oct 24</div>
													<span class="feed-text">New expenses added <a href="expenses.html">"#TR018756</a></span>
												</li>
												<li class="feed-item">
													<div class="feed-date">Oct 24</div>
													<span class="feed-text">New expenses added <a href="expenses.html">"#TR018756</a></span>
												</li>
												<li class="feed-item">
													<div class="feed-date">Oct 24</div>
													<span class="feed-text">New expenses added <a href="expenses.html">"#TR018756</a></span>
												</li>
												<li class="feed-item">
													<div class="feed-date">Jan 27</div>
													<span class="feed-text"><a href="profile.html">Robert Martin</a> gave a review for <a href="product-details.html">"Dell Laptop"</a></span>
												</li>
												<li class="feed-item">
													<div class="feed-date">Jan 14</div>
													<span class="feed-text">New customer registered <a href="profile.html">"Tori Carter"</a></span>
												</li>
											</ul>
										</div>
									</div>
								</div> -->
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- /Page Wrapper -->

	</div>
	<!-- /Main Wrapper -->

	<!-- jQuery -->
	<script src="assets/js/jquery-3.6.3.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="assets/js/bootstrap.bundle.min.js"></script>

	<!-- Datatable JS -->
	<script src="assets/plugins/datatables/datatables.min.js"></script>

	<!-- select CSS -->
	<script src="assets/plugins/select2/js/select2.min.js"></script>

	<!-- Slimscroll JS -->
	<script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

	<!-- Datepicker Core JS -->
	<script src="assets/plugins/moment/moment.min.js"></script>
	<script src="assets/js/bootstrap-datetimepicker.min.js"></script>

	<!-- multiselect JS -->
	<script src="assets/js/jquery-ui.min.js"></script>

	<!-- Custom JS -->
	<script src="assets/js/script.js"></script>

</body>

</html>