<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title> Vendor Management</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/img/KMRL.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

	<!-- Feather CSS -->
	<link rel="stylesheet" href="assets/plugins/feather/feather.css">

	<!-- Datepicker CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">

	<!-- Datatables CSS -->
	<link rel="stylesheet" href="assets/plugins/datatables/datatables.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="assets/css/style.css">
</head>

<body>


	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Header -->
		<div class="header header-one">

			<!-- Sidebar Toggle -->
			<a href="javascript:void(0);" id="toggle_btn">
				<span class="toggle-bars">
					<span class="bar-icons"></span>
					<span class="bar-icons"></span>
					<span class="bar-icons"></span>
					<span class="bar-icons"></span>
				</span>
			</a>
			<!-- /Sidebar Toggle -->

			<!-- Search -->
			<div class="top-nav-search">
				<form>
					<input type="text" class="form-control" placeholder="Search here">
					<button class="btn" type="submit"><img src="assets/img/icons/search.svg" alt="img"></button>
				</form>
			</div>
			<!-- /Search -->

			<!-- Mobile Menu Toggle -->
			<a class="mobile_btn" id="mobile_btn">
				<i class="fas fa-bars"></i>
			</a>
			<!-- /Mobile Menu Toggle -->

			<!-- Header Menu -->
			<ul class="nav nav-tabs user-menu">
				<!-- Flag -->

				<!-- /Flag -->


				<li class="nav-item  has-arrow dropdown-heads ">
					<a href="javascript:void(0);" class="toggle-switch">
						<i class="fe fe-moon"></i>
					</a>
				</li>
				<li class="nav-item dropdown  flag-nav dropdown-heads">
					<a class="nav-link" data-bs-toggle="dropdown" href="#" role="button">
						<i class="fe fe-bell"></i> <span class="badge rounded-pill"></span>
					</a>
					<div class="dropdown-menu notifications">
						<div class="topnav-dropdown-header">
							<span class="notification-title">Notifications</span>
							<a href="javascript:void(0)" class="clear-noti"> Clear All</a>
						</div>
						<div class="noti-content">
							<ul class="notification-list">
								<li class="notification-message">
									<a href="profile.html">
										<div class="media d-flex">
											<span class="avatar avatar-sm">
												<img class="avatar-img rounded-circle" alt=""
													src="assets/img/profiles/thomas.jpg">
											</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Thomas Paul</span>
													paid the invoice <span class="noti-title">#DF65485</span></p>
												<p class="noti-time"><span class="notification-time">4 mins ago</span>
												</p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="profile.html">
										<div class="media d-flex">
											<span class="avatar avatar-sm">
												<img class="avatar-img rounded-circle" alt=""
													src="assets/img/profiles/joe.jpg">
											</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Joe </span> has
													accepted the credit note <span class="noti-title">#GTR458789</span>
												</p>
												<p class="noti-time"><span class="notification-time">6 mins ago</span>
												</p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="profile.html">
										<div class="media d-flex">
											<div class="avatar avatar-sm">
												<span class="avatar-title rounded-circle bg-primary-light"><i
														class="far fa-user"></i></span>
											</div>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">New user
														registered</span></p>
												<p class="noti-time"><span class="notification-time">8 mins ago</span>
												</p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="profile.html">
										<div class="media d-flex">
											<span class="avatar avatar-sm">
												<img class="avatar-img rounded-circle" alt=""
													src="assets/img/profiles/joseph.jpg">
											</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Joseph</span>
													declined the invoice <span class="noti-title">#RDW026896</span></p>
												<p class="noti-time"><span class="notification-time">12 mins ago</span>
												</p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="profile.html">
										<div class="media d-flex">
											<div class="avatar avatar-sm">
												<span class="avatar-title rounded-circle bg-info-light"><i
														class="far fa-comment"></i></span>
											</div>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">You have received a new
														message</span></p>
												<p class="noti-time"><span class="notification-time">2 days ago</span>
												</p>
											</div>
										</div>
									</a>
								</li>
							</ul>
						</div>
						<div class="topnav-dropdown-footer">
							<a href="notifications.html">View all Notifications</a>
						</div>
					</div>
				</li>
				<li class="nav-item  has-arrow dropdown-heads ">
					<a href="javascript:void(0);" class="win-maximize">
						<i class="fe fe-maximize"></i>
					</a>
				</li>
				<!-- User Menu -->
				<li class="nav-item dropdown">
					<a href="javascript:void(0)" class="user-link  nav-link" data-bs-toggle="dropdown">
						<span class="user-img">
							<img src="assets/img/profiles/michael.jpg" alt="img" class="profilesidebar">
							<span class="animate-circle"></span>
						</span>
						<span class="user-content">
							<span class="user-details">Admin</span>
							<span class="user-name">Michael</span>
						</span>
					</a>
					<div class="dropdown-menu menu-drop-user">
						<div class="profilemenu">
							<div class="subscription-menu">
								<ul>
									<li>
										<a class="dropdown-item" href="profile.html">Profile</a>
									</li>
									<li>
										<a class="dropdown-item" href="settings.html">Settings</a>
									</li>
								</ul>
							</div>
							<div class="subscription-logout">
								<ul>
									<li class="pb-0">
										<a class="dropdown-item" href="login.html">Log Out</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</li>
				<!-- /User Menu -->

			</ul>

			<!-- /Header Menu -->

		</div>
		<!-- /Header -->

		<!-- Sidebar -->
		<div class="sidebar" id="sidebar">
			<div class="sidebar-header">
				<div class="sidebar-logo">
					<a href="index.html">
						<img src="assets/img/KMRL-logo.png" class="img-fluid logo" alt="">

					</a>
					<a href="index.html">
						<img src="assets/img/KMRL-logo.png" class="img-fluid logo-small " alt="">
					</a>
				</div>
			</div>
			<div class="sidebar-inner slimscroll">
				<div id="sidebar-menu" class="sidebar-menu">
					<!-- Main -->

					<ul>

						<li>
							<a href="index.html"><i class="fa-solid fa-house"></i> <span>Dashboard</span></a>
						</li>
						<li class="menu-title mt-3"><span>Spaces</span></li>
						<!-- <li>
							<a  href="view_metrostation.html"><i class="fa fa-subway" aria-hidden="true"></i>
								<span>Metro Stations</span></a>
						</li> -->

						<li>
							<a href="view_properties.html"><i class="fa fa-subway" aria-hidden="true"></i>
								<span>Properties</span></a>
						</li>

						<li>
							<a href="view_space.html"><i class="fa-solid fa-hotel"></i></i><span>Spaces</span></a>
						</li>

					</ul>

					<!-- Customers -->
					<ul>
						<li class="menu-title"><span>Customers</span></li>
						<li>
							<a class="" href="customers.html"><i
									class="fa-solid fa-users"></i><span>Customers</span></a>
						</li>

						<li>
							<a class="active" href="view_contract.html"><i
									class="fa-solid fa-file-contract"></i><span>Contracts</span></a>
						</li>
					</ul>
					<!-- /Customers -->


					<!-- Sales -->
					<ul>
						<li class="menu-title"><span>Payments</span></li>
						<li class="submenu">

						<li><a href="invoices.html"><i class="fa fa-receipt"></i> <span>Invoices</span> </a></li>

						</li>

						<li>
							<a href="credit-notes.html"><i class="fa fa-sticky-note" aria-hidden="true"></i>
								<span>Credit Notes</span></a>
						</li>
						<li>
							<a href="payments.html"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>
								</i> <span>Payments</span></a>
						</li>
					</ul>

					<!-- Reports -->
					<ul>
						<li class="menu-title"><span>Reports</span></li>

						<li>
							<a href="payment-summary.html"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>
								<span>Payment
									Summary</span></a>
						</li>
					</ul>
					<!-- /Reports -->

					<!-- User Management -->
					<ul>
						<li class="menu-title"><span>User Management</span></li>
						<li class="submenu">

						<li><a href="users.html"><i class="fa-solid fa-user"></i> <span>Manage Users</span> </a></li>

						</li>
						<li>
							<a href="roles-permission.html"><i class="fa-solid fa-clipboard"></i> <span>Roles &
									Permissions</span></a>
						</li>
					</ul>
					<!-- /User Management -->


					<!-- Support -->
					<ul>
						<li class="menu-title"><span>Support</span></li>
						<li>
							<a href="contact-messages.html"><i class="fa-solid fa-comments"></i></i>
								<span>Grievances</span></a>
						</li>
					</ul>
					<!-- /Authentication -->

					<!-- Settings -->
					<ul>
						<li class="menu-title"><span>Settings</span></li>
						<li>
							<a href="settings.html"><i class="fa-solid fa-gear"></i> <span>Settings</span></a>
						</li>
						<li>
							<a href="login.html"><i class="fa-solid fa-power-off"></i><span>Logout</span></a>
						</li>
					</ul>
					<!-- /Settings -->

				</div>
			</div>
		</div>
		<!-- /Sidebar -->

		<!-- Page Wrapper -->
		<div class="page-wrapper">
			<div class="content container-fluid">

				<!-- Page Header -->
				<div class="page-header">
					<div class="content-page-header">
						<h5>Contract Details</h5>
					</div>
				</div>
				<!-- /Page Header -->


				<div class="card customer-details-group">
					<div class="card-body">
						<div class="row align-items-center">
							<div class="col-xl-3 col-lg-4 col-md-6 col-12">
								<div class="customer-details">
									<div class="d-flex align-items-center">
										<span class="customer-widget-icon d-inline-flex">
											<!-- <img class="rounded-circle" src="assets/img/profiles/avatar-05.jpg" alt=""> -->
											<i class="fa-solid fa-hashtag"></i>
										</span>
										<div class="customer-details-cont">
											<h6>Contract Number</h6>
											<p>1000</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-4 col-md-6 col-12">
								<div class="customer-details">
									<div class="d-flex align-items-center">
										<span class="customer-widget-icon d-inline-flex">
											<i class="fa fa-user" aria-hidden="true"></i>
										</span>
										<div class="customer-details-cont">
											<h6>Customer </h6>
											<p>Thomas</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-4 col-md-6 col-12">
								<div class="customer-details">
									<div class="d-flex align-items-center">
										<span class="customer-widget-icon d-inline-flex">
											<i class="fa-solid fa-handshake"></i>
										</span>
										<div class="customer-details-cont">
											<h6>Agreement Number</h6>
											<p>2233</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-4 col-md-6 col-12">
								<div class="customer-details">
									<div class="d-flex align-items-center">
										<span class="customer-widget-icon d-inline-flex">
											<i class="fa-solid fa-hotel"></i>
										</span>
										<div class="customer-details-cont">
											<h6>Master Space</h6>
											<p>space 1</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-4 col-md-6 col-12">
								<div class="customer-details">
									<div class="d-flex align-items-center">
										<span class="customer-widget-icon d-inline-flex">
											<i class="fa-solid fa-hashtag"></i>
										</span>
										<div class="customer-details-cont">
											<h6>Auction No</h6>
											<p class="customer-mail">34</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-4 col-md-6 col-12">
								<div class="customer-details">
									<div class="d-flex align-items-center">
										<span class="customer-widget-icon d-inline-flex">
											<i class="fa-solid fa-calendar-days"></i>
										</span>
										<div class="customer-details-cont">
											<h6>Auction Date</h6>
											<p class="customer-mail">04-04-2023</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-4 col-md-6 col-12">
								<div class="customer-details">
									<div class="d-flex align-items-center">
										<span class="customer-widget-icon d-inline-flex">
											<i class="fa-solid fa-hashtag"></i>
										</span>
										<div class="customer-details-cont">
											<h6>Auction Notice No</h6>
											<p>5678</p>
										</div>
									</div>
								</div>
							</div>

							<div class="col-xl-3 col-lg-4 col-md-6 col-12">
								<div class="customer-details">
									<div class="d-flex align-items-center">
										<span class="customer-widget-icon d-inline-flex">
											<i class="fa-solid fa-calendar-days"></i>
										</span>
										<div class="customer-details-cont">
											<h6>Auction Notice Date</h6>
											<p>20-03-2023</p>
										</div>
									</div>
								</div>
							</div>

							<div class="col-xl-3 col-lg-4 col-md-6 col-12">

								<div class="customer-details">
									<div class="d-flex align-items-center">
										<span class="customer-widget-icon d-inline-flex">
											<i class="fa-solid fa-hashtag"></i>
										</span>
										<div class="customer-details-cont">
											<h6>RFP Number</h6>
											<p>1002</p>
										</div>
									</div>
								</div>
							</div>

							<div class="col-xl-3 col-lg-4 col-md-6 col-12">

								<div class="customer-details">
									<div class="d-flex align-items-center">
										<span class="customer-widget-icon d-inline-flex">
											<i class="fa-solid fa-calendar-days"></i>
										</span>
										<div class="customer-details-cont">
											<h6>RFP Date </h6>
											<p>02-05-2023</p>
										</div>
									</div>
								</div>
							</div>

							<div class="col-xl-3 col-lg-4 col-md-6 col-12">
								<div class="customer-details">
									<div class="d-flex align-items-center">
										<span class="customer-widget-icon d-inline-flex">
											<i class="fa-solid fa-hashtag"></i>
										</span>
										<div class="customer-details-cont">
											<h6>RFP-REF Number </h6>
											<p>103</p>
										</div>
									</div>
								</div>
							</div>

							<div class="col-xl-3 col-lg-4 col-md-6 col-12">
								<div class="customer-details">
									<div class="d-flex align-items-center">
										<span class="customer-widget-icon d-inline-flex">
											<i class="fa-solid fa-calendar-days"></i>
										</span>
										<div class="customer-details-cont">
											<h6>RFP REF-Date</h6>
											<p>02-05-2023</p>
										</div>
									</div>
								</div>
							</div>

							<div class="col-xl-3 col-lg-4 col-md-6 col-12">
								<div class="customer-details">
									<div class="d-flex align-items-center">
										<span class="customer-widget-icon d-inline-flex">
											<i class="fa-solid fa-calendar-days"></i>
										</span>
										<div class="customer-details-cont">
											<h6>Invoice Start Date</h6>
											<p>02-05-2023</p>
										</div>
									</div>
								</div>
							</div>

							<div class="col-xl-3 col-lg-4 col-md-6 col-12">
								<div class="customer-details">
									<div class="d-flex align-items-center">
										<span class="customer-widget-icon d-inline-flex">
											<i class="fa-solid fa-hourglass-half"></i>
										</span>
										<div class="customer-details-cont">
											<h6>Lock in Period</h6>
											<p>30 days</p>
										</div>
									</div>
								</div>
							</div>

							<div class="col-xl-3 col-lg-4 col-md-6 col-12">
								<div class="customer-details">
									<div class="d-flex align-items-center">
										<span class="customer-widget-icon d-inline-flex">
											<i class="fa-solid fa-percent"></i> </span>
										<div class="customer-details-cont">
											<h6>Hike</h6>
											<p>14%</p>
										</div>
									</div>
								</div>
							</div>

							<div class="col-xl-3 col-lg-4 col-md-6 col-12">
								<div class="customer-details">
									<div class="d-flex align-items-center">
										<span class="customer-widget-icon d-inline-flex">
											<i class="fa-solid fa-percent"></i></span>
											<div class="customer-details-cont">
												<h6>CAM</h6>
												<p>10%</p>
											</div>
									</div>
								</div>
							</div>

							<div class="col-xl-3 col-lg-4 col-md-6 col-12">
								<div class="customer-details">
									<div class="d-flex align-items-center">
										<span class="customer-widget-icon d-inline-flex">
											<i class="fa-solid fa-hashtag"></i> </span>
										<div class="customer-details-cont">
											<h6>Loa Number</h6>
											<p>2ABH899</p>
										</div>
									</div>
								</div>
							</div>

							<div class="col-xl-3 col-lg-4 col-md-6 col-12">
								<div class="customer-details">
									<div class="d-flex align-items-center">
										<span class="customer-widget-icon d-inline-flex">
											<i class="fa-solid fa-calendar-days"></i> </span>
										<div class="customer-details-cont">
											<h6>Loa Date</h6>
											<p>02-05-2023</p>
										</div>
									</div>
								</div>
							</div>

							<div class="col-xl-3 col-lg-4 col-md-6 col-12">
								<div class="customer-details">
									<div class="d-flex align-items-center">
										<span class="customer-widget-icon d-inline-flex">
											<i class="fa-solid fa-calendar-days"></i> </span>
										<div class="customer-details-cont">
											<h6>Job Card Issue</h6>
											<p>02-05-2023</p>
										</div>
									</div>
								</div>
							</div>

							<div class="col-xl-3 col-lg-4 col-md-6 col-12">
								<div class="customer-details">
									<div class="d-flex align-items-center">
										<span class="customer-widget-icon d-inline-flex">
											<i class="fa-solid fa-calendar-days"></i> </span>
										<div class="customer-details-cont">
											<h6>Tenure Start Date</h6>
											<p>02-05-2023</p>
										</div>
									</div>
								</div>
							</div>

							<div class="col-xl-3 col-lg-4 col-md-6 col-12">
								<div class="customer-details">
									<div class="d-flex align-items-center">
										<span class="customer-widget-icon d-inline-flex">
											<i class="fa-solid fa-calendar-days"></i> </span>
										<div class="customer-details-cont">
											<h6>Tenure End Date</h6>
											<p>02-05-2026</p>
										</div>
									</div>
								</div>
							</div>

							<div class="col-xl-3 col-lg-4 col-md-6 col-12">
								<div class="customer-details">
									<div class="d-flex align-items-center">
										<span class="customer-widget-icon d-inline-flex">
											<i class="fa-solid fa-calendar-days"></i> </span>
										<div class="customer-details-cont">
											<h6>Bill Start Date</h6>
											<p>02-05-2026</p>
										</div>
									</div>
								</div>
							</div>

							<div class="col-xl-3 col-lg-4 col-md-6 col-12">
								<div class="customer-details">
									<div class="d-flex align-items-center">
										<span class="customer-widget-icon d-inline-flex">
											<i class="fa-solid fa-signature"></i> </span>
										<div class="customer-details-cont">
											<h6>Authorized Signatory</h6>
											<p>James</p>
										</div>
									</div>
								</div>
							</div>

							<div class="col-xl-3 col-lg-4 col-md-6 col-12">
								<div class="customer-details">
									<div class="d-flex align-items-center">
										<span class="customer-widget-icon d-inline-flex">
											<i class="fa-solid fa-indian-rupee-sign"></i></span>
										<div class="customer-details-cont">
											<h6>Rent Amount</h6>
											<p>25000</p>
										</div>
									</div>
								</div>
							</div>


							<div class="col-xl-3 col-lg-4 col-md-6 col-12">
								<div class="customer-details">
									<div class="d-flex align-items-center">
										<span class="customer-widget-icon d-inline-flex">
											<i class="fa-solid fa-calendar-days"></i>
										</span>
										<div class="customer-details-cont">
											<h6>Created on</h6>
											<p>02-05-2023</p>
										</div>
									</div>
								</div>
							</div>


							<div class="col-xl-3 col-lg-4 col-md-6 col-12">
								<div class="customer-details">
									<div class="d-flex align-items-center">
										<span class="customer-widget-icon d-inline-flex">
											<i class="fa-solid fa-user"></i>
										</span>
										<div class="customer-details-cont">
											<h6>Created by</h6>
											<p>Michael</p>
										</div>
									</div>
								</div>
							</div>


							<div class="col-xl-3 col-lg-4 col-md-6 col-12">
								<div class="customer-details">
									<div class="d-flex align-items-center">
										<span class="customer-widget-icon d-inline-flex">
											<i class="fa-solid fa-calendar-days"></i>
										</span>
										<div class="customer-details-cont">
											<h6>Updated on</h6>
											<p>05-05-2023</p>
										</div>
									</div>
								</div>
							</div>

							<div class="col-xl-3 col-lg-4 col-md-6 col-12">
								<div class="customer-details">
									<div class="d-flex align-items-center">
										<span class="customer-widget-icon d-inline-flex">
											<i class="fa-solid fa-user"></i>
										</span>
										<div class="customer-details-cont">
											<h6>Updated by</h6>
											<p>Michael</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Search Filter -->
				<div id="filter_inputs" class="card filter-card">
					<div class="card-body pb-0">
						<div class="row">
							<div class="col-sm-6 col-md-3">
								<div class="form-group">
									<label>Name</label>
									<input type="text" class="form-control">
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="form-group">
									<label>Email</label>
									<input type="text" class="form-control">
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="form-group">
									<label>Phone</label>
									<input type="text" class="form-control">
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Search Filter -->

				<!-- Inovices card -->
				<div class="row">
					<div class="col-xl-3 col-lg-4 col-sm-6 col-12 d-flex">
						<div class="card inovices-card w-100">
							<div class="card-body ">
								<!-- <a href="#"> -->
								<div class="dash-widget-header">
									<span class="inovices-widget-icon bg-success-light ">
										<!-- <img src="assets/img/icons/receipt-item.svg" alt=""> -->
										<i class="fa-solid fa-indian-rupee-sign" style="color: #3ecc2e;"></i>
									</span>
									<div class="dash-count">
										<div class="dash-title">
											Rent
										</div>
										<div class="dash-counts">
											<p>54000</p>
										</div>
									</div>
								</div>
								<!-- </a> -->
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-sm-6 col-12 d-flex">
						<div class="card inovices-card w-100">
							<div class="card-body">
								<!-- <a href="#"> -->
								<div class="dash-widget-header">
									<span class="inovices-widget-icon bg-primary-light">
										<!-- <img src="assets/img/icons/transaction-minus.svg" alt=""> -->
										<i class="fa-solid fa-building-lock"></i>
									</span>
									<div class="dash-count">
										<div class="dash-title">Security Deposits </div>
										<div class="dash-counts">
											<p>34550</p>
										</div>
									</div>
								</div>
								<!-- </a> -->
								<!-- <div class="d-flex justify-content-between align-items-center">
										<p class="inovices-all">No of Invoice <span class="rounded-circle bg-light-gray">03</span></p>
										<p class="inovice-trending text-success-light">04 <span class="ms-2"><i class="fe fe-trending-up"></i></span></p>
									</div> -->
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-sm-6 col-12 d-flex">
						<div class="card inovices-card w-100">
							<div class="card-body">
								<!-- <a href="#"> -->

								<div class="dash-widget-header">
									<span class="inovices-widget-icon bg-warning-light">
										<!-- <img src="assets/img/icons/archive-book.svg" alt=""> -->
										<i class="fa-solid fa-hourglass-end" style="color: #cc702e;"></i>
									</span>
									<div class="dash-count">
										<div class="dash-title">Contract Period</div>
										<div class="dash-counts">
											<p>5 YR</p>
										</div>
									</div>
								</div>
								<!-- </a> -->
								<!-- <div class="d-flex justify-content-between align-items-center">
										<p class="inovices-all">No of Invoice <span class="rounded-circle bg-light-gray">01</span></p>
										<p class="inovice-trending text-danger-light">03 <span class="ms-2"><i class="fe fe-trending-down"></i></span></p>
									</div> -->
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-sm-6 col-12 d-flex">
						<div class="card inovices-card w-100">
							<div class="card-body">
								<!-- <a href="#"> -->

								<div class="dash-widget-header">
									<span class="inovices-widget-icon bg-primary-light">
										<!-- <img src="assets/img/icons/clipboard-close.svg" alt=""> -->
										<i class="fa-solid fa-hourglass-half"></i>
									</span>
									<div class="dash-count">
										<div class="dash-title">Fitment Period</div>
										<div class="dash-counts">
											<p>15 days</p>
										</div>
									</div>
								</div>
								<!-- </a> -->
								<!-- <div class="d-flex justify-content-between align-items-center">
										<p class="inovices-all">No of Invoice <span class="rounded-circle bg-light-gray">04</span></p>
										<p class="inovice-trending text-danger-light">05 <span class="ms-2"><i class="fe fe-trending-down"></i></span></p>
									</div> -->
							</div>
						</div>
					</div>
				</div>
				<!-- /Inovices card -->

				<!-- Table -->
				<div class="row">
					<div class="col-sm-12">
						<div class="card-table">
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-stripped table-hover datatable">
										<thead class="thead-light">
											<tr>
											<tr>
												<th>Sl No</th>
												<th>Spaces</th>
												<th>Property Name</th>
												<th>Type </th>
												<th>Area Type</th>
												<th>Area Level</th>
												<th>Area Side</th>
												<th>Area sqft</th>
												<th>Status</th>
												<th>Actions</th>
											</tr>

											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td>Space 1</td>
												<td>Property 3</td>
												<td>Office</td>
												<td>Paid</td>
												<td>STRT</td>
												<td>LHS</td>
												<td>1200 sqft</td>
												<!-- <td>CONC</td> -->

												<td><span class="badge badge-pill bg-success-light">Active</span></td>
												<td class="d-flex align-items-center">
													<a href="view_details_space.html" class="btn btn-greys me-2"><i
															class="fa fa-plus-circle me-1"></i> Details</a>

												</td>
											</tr>

											<tr>
												<td>2</td>
												<td>Space 2</td>
												<td>Property 3</td>
												<td>Office</td>
												<td>Paid</td>
												<td>STRT</td>
												<td>LHS</td>
												<td>1100 sqft</td>
												<!-- <td>CONC</td> -->

												<td><span class="badge badge-pill bg-success-light">Active</span></td>
												<td class="d-flex align-items-center">
													<a href="view_details_space.html" class="btn btn-greys me-2"><i
															class="fa fa-plus-circle me-1"></i> Details</a>

												</td>
											</tr>
											<tr>
												<td>3</td>
												<td>Space 3</td>
												<td>Property 3</td>
												<td>Kiosk</td>
												<td>Paid</td>
												<td>STRT</td>
												<td>RHS</td>
												<td>1300 sqft</td>
												<!-- <td>CONC</td> -->

												<td><span class="badge badge-pill bg-success-light">Active</span></td>
												<td class="d-flex align-items-center">
													<a href="view_details_space.html" class="btn btn-greys me-2"><i
															class="fa fa-plus-circle me-1"></i> Details</a>

												</td>
											</tr>



										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Table -->

				<!-- Delete Items Modal -->
				<div class="modal custom-modal fade" id="delete_modal" role="dialog">
					<div class="modal-dialog modal-dialog-centered modal-md">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-header">
									<h3>Delete Customer Details</h3>
									<p>Are you sure want to delete?</p>
								</div>
								<div class="modal-btn delete-action">
									<div class="row">
										<div class="col-6">
											<a href="#" data-bs-dismiss="modal"
												class="btn btn-primary paid-continue-btn">Delete</a>
										</div>
										<div class="col-6">
											<a href="#" data-bs-dismiss="modal"
												class="btn btn-primary paid-cancel-btn">Cancel</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Delete Items Modal -->

			</div>
		</div>
		<!-- /Page Wrapper -->

	</div>
	<!-- /Main Wrapper -->

	<!-- jQuery -->
	<script src="assets/js/jquery-3.6.3.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="assets/js/bootstrap.bundle.min.js"></script>

	<!-- Datatable JS -->
	<script src="assets/plugins/datatables/datatables.min.js"></script>

	<!-- select CSS -->
	<script src="assets/plugins/select2/js/select2.min.js"></script>

	<!-- Slimscroll JS -->
	<script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

	<!-- Datepicker Core JS -->
	<script src="assets/plugins/moment/moment.min.js"></script>
	<script src="assets/js/bootstrap-datetimepicker.min.js"></script>

	<!-- multiselect JS -->
	<script src="assets/js/jquery-ui.min.js"></script>


	<!-- Datatable JS -->
	<script src="assets/plugins/datatables/datatables.min.js"></script>

	<!-- Custom JS -->
	<script src="assets/js/script.js"></script>

</body>

</html>