{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
	<!-- <meta name="viewport" content="width=1920"> -->

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.4, user-scalable=1">
	<title> Customer Management System</title>
	
	<!-- Favicon -->
	<link rel="shortcut icon" href="/static/assets/img/KMRL.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">

	<!-- Fearther CSS -->
	<link rel="stylesheet" href="/static/assets/css/feather.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="/static/assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="/static/assets/plugins/fontawesome/css/all.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="/static/assets/css/style.css">
    <!-- sweetalert -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>

	<script src="/static/assets/js/jspdf.min.js"></script>
	<script src="/static/assets/js/jspdf.debug.js"></script>
	<script src="/static/assets/js/html2canvas.min.js"></script>


	<script>
		// Function to handle the download button click event
		function saveDivAsPDF() {
			// Create a new jsPDF instance
			var pdf = new jsPDF('p', 'mm', 'a4');

			// Get the HTML content of the invoice wrapper
			var invoiceWrapper = document.getElementById('invoice-wrapper');

			// Use html2canvas to capture the HTML content as an image
			html2canvas(invoiceWrapper, {
				scale: 2, // Increase the scale to improve image resolution
				useCORS: true, // Enable CORS to allow capturing images from different domains
			}).then(function (canvas) {
				// Convert the canvas to base64 image data
				var imageData = canvas.toDataURL('image/jpeg');

				// Add the image to the PDF document
				pdf.addImage(imageData, 'JPEG', 0, 0, 210, 297); // Adjust the dimensions as needed

				// Save the PDF document
				pdf.save('invoice.pdf');
			});
		}
	</script>
</head>

<body>
	<div class="main-wrapper">
		<div class="container">
			<div class="invoice-wrapper index-four" id="invoice-wrapper">
				<div class="inv-content">
					<div class="invoicenine-header">
						<div class="invoice-header">
							<div class="inv-header-left">
								<h4>TAX INVOICE</h4>
							</div>
							<div class="inv-header-right">
								<img src="/static/assets/img/KMRL-logo.png" width="125px" alt="Logo">
								<p><b>ORIGINAL FOR RECEPIENT/ DUPLICATE FOR SUPPLIER</b></p>


							</div>
						</div>
						<div class="company-details">

							<div class="company-content">
								<div class="company-content-left">
									<img src="/static/assets/img/istockphoto-828088276-612x612.jpg" width="200px"
										alt="">
								</div>
								<div class="inv-header-right">
									<div class="inv-details">
										<div class="inv-date">Invoice No: <span>{{std.invoice_no}}</span></div>
										<div class="inv-date mb-0">Invoice Date:
											<span>{{std.invoice_issue_date|date:"d/m/Y" }}</span>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="invoice-address">
						<div class="invoice-to">
							<span>Bill To:</span>
							<div class="inv-to-address">
								{{std.customer_contact.customer.customer_name}}<br>
								{{std.customer_contact.address}}<br>
								{{std.customer_contact.pincode}}, {{std.customer_contact.district}}<br>
								{{std.customer_contact.state}} <br>
								GSTIN:{{std.customer_contact.gst_no}} <br>
								PAN No:{{std.customer_contact.pan_no}} <br>
								State Code: {{std.customer_contact.state_code}} <br>
								Place of Supply: {{std.customer_contact.state}} <br>
								Payment Due Date: {{std.due_date|date:"d.m.Y"}} <br>
								<br> <br>
								IRN No.: <span style="max-width: 60px;">{{std.irn_no}}</span>  <br>
								Acknowledge No.: {{std.ack_no}}<br>
								Acknowledge Date: {{std.ack_date|date:"d.m.Y"}}
							</div>
						</div>
						<div class="invoice-to">
							<div class="inv-to-address float-end">
								{{std.company.company_name}}<br>
								{{std.company.address}},<br>
								{{std.company.city}}, {{std.company.district}},<br>
								{{std.company.state}}-{{std.company.pincode}}<br>
								GSTIN: {{std.company.gst_no}} <br>
								PAN No: {{std.company.pan_no}} <br>
								State Code: {{std.company.state_code}} <br>
								Contract No: {{contract.contract_no}} <br>
								Contract Date: {{contract.agreement_date|date:"d.m.Y"}}

							</div>
						</div>
					</div>
					<div class="invoice-table">
						<div class="table-responsive">
							<table>

								<thead>
									<tr>
										<th class="table_width_1">S.No.</th>
										<th class="table_width_2">Product Description</th>
										<th class="table_width_2">Plant</th>
										<th class="table_width_1 text-center">SAC CODE</th>
										<th class="table_width_4 text-center">Taxable Value (Rs.)</th>
										<th class="table_width_1 text-center">%</th>
										<th class="table_width_4 text-center">CGST</th>
										<th class="table_width_1 text-center">%</th>
										<th class="table_width_4 text-center">SGST</th>
										<th class="table_width_4 text-center">Total Amt(Rs.)</th>


									</tr>
								</thead>
								<tbody>
									{% for p in spaces %}
									<tr>
										<td>{{forloop.counter}}</td>
										<td class="">{{p.space_name}} <br>
											{{std.invoice_start_date|date:"d.m.Y"}} to
											{{std.invoice_end_date|date:"d.m.Y"}}
										</td>
										<td class="table-description">{{p.metrostation.metrostation.station_name}}</td>
										<td class="text-center">{{std.sac_code}}</td>
										<td class="text-end" id="taxamnt">{{std.taxable_amount}}</td>
										<td class="text-end" id="gst">{{std.tax_percentage}}</td>
										<td class="text-end" id="cgstspace"></td>
										<td class="text-end">{{std.tax_percentage}}</td>
										<td class="text-end" id="sgstspace"></td>
										<td class="text-end" id="totalspace"></td>
									</tr>
									<tr>
										<td>{{forloop.counter}}</td>
										<td class="">Maintenance Charges <br>
											{{std.invoice_start_date|date:"d.m.Y"}} to
											{{std.invoice_end_date|date:"d.m.Y"}}

										</td>
										<td class="table-description"></td>
										<td class="text-center">{{std.sac_code}}</td>
										<td class="text-end" id="maintanence">{{std.maintanence}}</td>
										<td class="text-end">{{std.tax_percentage}}</td>
										<td class="text-end" id="cgstmain"></td>
										<td class="text-end">{{std.tax_percentage}}</td>
										<td class="text-end" id="sgstmain"></td>
										<td class="text-end" id="totalmain"></td>
									</tr>
									{% endfor %}
									<tr>
										<td></td>
										<td></td>
										<td class="table-description"></td>
										<td class="text-center"></td>
										<td class="text-end">{{std.tax_amount_sum}}</td>
										<td class="text-end"></td>
										<td class="text-end">{{std.cgst}}</td>
										<td class="text-end"></td>
										<td class="text-end">{{std.sgst}}</td>
										<td class="text-end">{{std.total_amount}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="invoice-table-footer">
						<div class="table-footer-left notes">
							<span>Text Note 1:</span>
							<div class="delivery-notes">{{std.master_space.space_name}}: <br>License fee
								{{std.master_space.area}} sq.ft. @ Rs {{contract.sq_ft_rate}}/sq.ft.</div>

						</div>
						<div class="text-end table-footer-right">
							<table>
								<tbody>
									<tr>
										<td>Taxable Amount </td>
										<td>{{std.tax_amount_sum}}</td>
									</tr>
									<tr>
										<td>CGST {{std.tax_percentage}}%</td>
										<td>{{std.cgst}}</td>
									</tr>
									<tr>
										<td>SGST {{std.tax_percentage}}%</td>
										<td>{{std.sgst}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="invoice-table-footer totalamount-footer">
						<div class="table-footer-left">
							<!-- <p class="total-info">Total Items / Qty : 4 / 4.00</p> -->
						</div>
						<div class="table-footer-right">
							<table class="totalamt-table">
								<tbody>
									<tr>
										<td>Total</td>
										<td>{{std.total_amount}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="total-amountdetails">
						<p>Total amount (in words): <span> Rupees {{ number_in_words }} ONLY</span></p>
					</div>
					<div class="bank-details">
						<div style="color: black;" class="payment-info">
							<div>Tax Payable on RCM: NO</div>
							<div>1. Deduct TDS on amount excluding GST</div>
							<div>2. Please arrange to make the payment by bank transfer to our following Bank Account
							</div>
						</div>

					</div>
					<div class="terms-condition">
						<div class="row ">
							<div class="col-sm-2 ">
								<img src="/static/assets/img/istockphoto-828088276-612x612.jpg" width="140px" alt="">
							</div>
							<div class="col-sm-3 mt-3 p-0">
								<span style="color: black;">
									{{std.bank.bank_name}} <br> {{std.bank.branch_name}} <br>A/C No. {{std.bank.acc_no}}
									<br>IFSC CODE: {{std.bank.ifsc_code}} <br>UPI ID: {{std.bank.upi_id}} </span>
							</div>
							<div class="col-sm-7">

								<div style="color: black;" class="float-end">
									<span>FOR {{std.company.company_name}} </span>
									<img src="{{std.company.signature}}" alt width="150">
									<span>Authorized Signatory</span>
								</div>

							</div>
						</div>

					</div>
					<div style="color: black;" class="thanks-msg text-center">
						<h6>A Joint Venture Company of Govt. of India & Govt. of Kerala</h6>
						{{std.company.address}}, {{std.company.city}}, {{std.company.district}},
						{{std.company.state}}-{{std.company.pincode}}|CIN: {{std.company.cin}}<br>
						Ph: {{std.company.phno1}}, {{std.company.phno2}}| Fax: {{std.company.fax}}|
						{{std.company.email}}| {{std.company.website}}
					</div>
				</div>
			</div>
			<style>
				/* Add the following styles to position the buttons at the bottom center */
				body {
					display: flex;
					flex-direction: column;
					min-height: 100vh;
					justify-content: space-between;
				}

				.list-btn {
					display: flex;
					justify-content: center;
					margin-bottom: 20px;
				}
			</style>

			<div class="list-btn">
				<ul class="filter-list">
					<li>
						<button type="button" id="download-link" class="btn btn-primary" onclick="saveDivAsPDF()">
							<i class="fa fa-download me-2" aria-hidden="true"></i>Download
						</button>
					</li>
					{% if std.status == 2 or std.status == 4 %}
					<li>
						<a class="btn btn-import me-2" id="rzp-button1">
							<span><i class="fa-solid fa-credit-card me-2"></i>Pay Invoice</span>
						</a>
					</li>
					{% endif %}
				</ul>
			</div>

		</div>
		<!-- jQuery -->
		<script src="/static/assets/js/jquery-3.6.3.min.js"></script>

		<!-- Bootstrap Core JS -->
		<script src="/static/assets/js/bootstrap.bundle.min.js"></script>

		<!-- Fearther JS -->
		<script src="/static/assets/js/feather.min.js"></script>

		<!-- Custom JS -->
		<script src="/static/assets/js/script.js"></script>



		<!-- Favicon -->
		<link rel="shortcut icon" class="w-100" href="/static/assets/img/KMRL.png">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">

		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="/static/assets/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="/static/assets/plugins/fontawesome/css/all.min.css">

		<!-- Feather CSS -->
		<link rel="stylesheet" href="/static/assets/plugins/feather/feather.css">

		<!-- Datepicker CSS -->
		<link rel="stylesheet" href="/static/assets/css/bootstrap-datetimepicker.min.css">

		<!-- Datatables CSS -->
		<link rel="stylesheet" href="/static/assets/plugins/datatables/datatables.min.css">

		<!-- Main CSS -->
		<link rel="stylesheet" href="/static/assets/css/style.css">

		<script>
			$(document).ready(function () {

				// Function to calculate and update the total amount, CGST, SGST, and Taxable Amount

				var taxamnt = parseFloat($("#taxamnt").text());
				var maintanence = parseFloat($("#maintanence").text());
				var taxPercentage = parseFloat($("#gst").text());
				var gst_space = (taxamnt * (taxPercentage / 100)).toFixed(2);
				var gst_maintanence = (maintanence * (taxPercentage / 100)).toFixed(2);
				var space_sum = (parseFloat(taxamnt + (gst_space * 2))).toFixed(2);
				var maintanence_sum = (parseFloat(maintanence + (gst_maintanence * 2))).toFixed(2);

				$("#cgstspace").text(gst_space);
				$("#sgstspace").text(gst_space);
				$("#cgstmain").text(gst_maintanence);
				$("#sgstmain").text(gst_maintanence);
				$("#totalmain").text(maintanence_sum);
				$("#totalspace").text(space_sum);

			});
		</script>

		<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
		<script>
			var options = {
				"key": "rzp_test_EHCrTX1zlk58On", // Enter the Key ID generated from the Dashboard
				"amount": "{{payment.amount}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
				"currency": "INR",
				"name": "KMRL",
				"description": "Test Transaction",
				"image": "/static/assets/img/KMRL-logo.png",
				"order_id": "{{payment.id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
				"handler": function (response) {
					var formData = "&razorpay_payment_id=" + response.razorpay_payment_id + "&razorpay_order_id=" + response.razorpay_order_id + "&razorpay_signature=" + response.razorpay_signature + "&PaymentAmount=" + '{{payment.amount}}' + "&MobileNumber=" + '{{std.customer_contact.customer.phone_number}}' + "&InvoiceID=" + '{{std.id}}' + "&CustomerID=" + '{{std.customer_contact.id}}' + "&Space_ID=" + '{{std.master_space.id}}'+ '&csrfmiddlewaretoken=' + '{{ csrf_token }}';
					//alert(formData)
					// alert(response.razorpay_payment_id);
					// alert(response.razorpay_order_id);
					// alert(response.razorpay_signature)
					$.ajax({
						type: 'POST',
						url: '/invoice_payment/success',
						data: formData,
						headers: {
							'X-CSRFToken': '{{ csrf_token }}'
						}, success: function (data) {
							if (data == "true") {
								showSuccessMessage();
								// window.location = '/invoices'

							} else {
								alert('error')
								window.location = '/invoices'
							}
						}
					});
				},
				"prefill": {
					"name": "{{std.customer_contact.customer.customer_name}}",
					"email": "{{std.customer_contact.customer.email}}",
					"contact": "{{std.customer_contact.customer.phone_number}}"
				},
				"notes": {
					"address": "Razorpay Corporate Office"
				},
				"theme": {
					"color": "#3399cc"
				}
			};
			var rzp1 = new Razorpay(options);
			rzp1.on('payment.failed', function (response) {
				alert(response.error.code);
				alert(response.error.description);
				alert(response.error.source);
				alert(response.error.step);
				alert(response.error.reason);
				alert(response.error.metadata.order_id);
				alert(response.error.metadata.payment_id);
			});
			document.getElementById('rzp-button1').onclick = function (e) {
				rzp1.open();
				e.preventDefault();
			}
		</script>

		<script>

		function showSuccessMessage(message) {
			Swal.fire({
			icon: 'success',
			title: 'Payment Successfull',
			text: message,
			}).then((result) => {
			
			window.location.href = '/invoices'; 
			});
		}
		</script>

</body>

</html>