{% extends 'supadmin_layout.html' %} {% load static %} {% block body %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>


<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="content-page-header">
                <h5>Payment Summary</h5>
                <div class="list-btn">
                    <ul class="filter-list">
                        <li>
                            <a class="btn btn-filters w-auto popup-toggle"><span class="me-2"><i
                                        class="fe fe-filter"></i></span>Filter </a>
                        </li>
                        <div class="dropdown dropdown-action">
                            <a href="#" class="btn-filters" data-bs-toggle="dropdown" aria-expanded="false"><span><i
                                        class="fe fe-download"></i></span></a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <ul class="d-block">
                                    <li>
                                        <a id="downloadPdfLink" class="d-flex align-items-center download-item" href="javascript:void(0);"><i class="far fa-file-pdf me-2"></i>PDF</a>
                                    </li>                                    
                                    <li>
                                        <a id="downloadCsvLink" class="d-flex align-items-center download-item" href="javascript:void(0);">
                                            <i class="far fa-file-text me-2"></i>CSV
                                        </a>
                                    </li>                                    
                                </ul>
                            </div>
                        </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <!-- Table -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="data-table" class="table table-stripped table-hover datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Sl No</th>
                                        <th>Customer</th>
                                        <th>Transaction Id</th>
                                        <th>Invoice Number</th>
                                        <th>Amount</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for p in std %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td class="customer">
                                            <h2 class="table-avatar">
                                                <a href="/customer_details/{{p.customer.id}}" class="avatar avatar-sm me-2"><img
                                                        class="avatar-img rounded-circle"
                                                        src="/static/assets/img/profiles/avatar-07.jpg"
                                                        alt="User Image"></a>
                                                <a href="/customer_details/{{p.customer.id}}">{{p.customer.customer.customer_name}}</a>
                                            </h2>
                                        </td>
                                        <td>
                                            <a href="#">{{p.transaction_id}}</a> 
                                        </td>
                                        <td>
                                            <a href="/invoice_details/{{p.invoice.id}}" target="_blank">{{p.invoice.invoice_no}}</a> 
                                        </td>
                                       
                                        <td>{{p.payment_amount}}</td>
                                        <td class="date">{{p.created_on|date:'Y-m-d'}}</td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Table -->

    </div>
</div>
<!-- /Page Wrapper -->

<script>
    document.getElementById("downloadPdfLink").addEventListener("click", function() {
        const table = document.getElementById("data-table");

        const config = {
            margin: 5,
            filename: "paymentreport.pdf",
            image: { type: "jpeg", quality: 1 },
            html2canvas: { scale: 2, logging: true },
            jsPDF: { unit: "mm", format: "a4", orientation: "portrait" }
        };

        html2pdf().from(table).set(config).save();
    });
</script>

<script>
    document.getElementById("downloadCsvLink").addEventListener("click", function() {
        const table = document.getElementById("data-table");

        const headers = [];
        table.querySelectorAll("thead th").forEach((header) => {
            headers.push(header.textContent.trim());
        });

        const rows = [];
        table.querySelectorAll("tbody tr").forEach((row) => {
            const rowData = [];
            row.querySelectorAll("td").forEach((cell) => {
                rowData.push(cell.textContent.trim());
            });
            rows.push(rowData);
        });

        let csvContent = "data:text/csv;charset=utf-8,";
        csvContent += headers.join(",") + "\n";
        rows.forEach((row) => {
            csvContent += row.join(",") + "\n";
        });

        const encodedUri = encodeURI(csvContent);
        const link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "paymentreport.csv");
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    });
</script>


<!-- Add Asset -->
<div class="toggle-sidebar">
    <div class="sidebar-layout-filter">
        <div class="sidebar-header">
            <h5>Filter</h5>
            <a href="#" class="sidebar-closes"><i class="fa-regular fa-circle-xmark"></i></a>
        </div>
        <div class="sidebar-body">
            <form id="filter-form" autocomplete="off">
                <!-- Customer -->
                <div class="accordion" id="accordionMain1">
                    <div class="card-header-new" id="headingOne">
                        <h6 class="filter-title">
                            <a href="javascript:void(0);" class="w-100" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Customer
                                <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
                            </a>
                        </h6>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample1">
                        <div class="card-body-chat">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="checkBoxes1">
                                        <div class="form-custom">
                                            <input type="text" class="form-control" id="customersearch"
                                                placeholder="Search here">
                                            <span><img src="/static/assets/img/icons/search.svg" alt="img"></span>
                                        </div>
                                        <div class="selectBox-cont">
                                            {% for p in customer %}
                                            <label class="custom_check w-100">
                                                <input type="checkbox" name="username"
                                                    value="{{p.customer.customer_name}}" class="customer">
                                                <span class="checkmark"></span> {{p.customer.customer_name}}
                                            </label>
                                            {% endfor %}


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Customer -->

                <!-- Select Date -->
                <div class="accordion" id="accordionMain2">
                    <div class="card-header-new" id="headingTwo">
                        <h6 class="filter-title">
                            <a href="javascript:void(0);" class="w-100 collapsed" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                Select Date
                                <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
                            </a>
                        </h6>
                    </div>

                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample2">
                        <div class="card-body-chat">
                            <div class="form-group">
                                <label class="form-control-label">From</label>
                                <div class="">
                                    <input type="date" class="form-control datetimepicker" id="from"
                                        placeholder="DD-MM-YYYY">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">To</label>
                                <div class="">
                                    <input type="date" class="form-control datetimepicker" id="to"
                                        placeholder="DD-MM-YYYY">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Select Date -->



                <button type="submit"
                    class="d-inline-flex align-items-center justify-content-center btn w-100 btn-primary">
                    <span></span>Search Results
                </button>
            </form>

        </div>
    </div>
</div>
<!--/Add Asset -->

<script>
    document.getElementById('paymentreport').classList.add('active');
</script>

<script>
    function filterTable() {
        var selectedcustomers = [];
        var selectedStatuses = [];
        var fromDate = $('#from').val();
        var toDate = $('#to').val();

        // Get the selected checkboxes

        var selectedcustomers = $('.customer:checked').map(function () {
            return $(this).val();
        }).get();

        var selectedStatuses = $('.status:checked').map(function () {
            return $(this).val();
        }).get();

        // Filter the table rows
        $('.datatable tbody tr').each(function () {
            var customers = $(this).find('.customer').text().trim();
            var status = $(this).find('.status').text().trim();
            var date = $(this).find('.date').text().trim();


            var customerMatch = selectedcustomers.length === 0 || selectedcustomers.includes(customers);
            var statusMatch = selectedStatuses.length === 0 || selectedStatuses.includes(status);
            var dateMatch = (fromDate === '' && toDate === '') || (date >= fromDate && date <= toDate);

            if (customerMatch && statusMatch && dateMatch) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    }

    // Call the filterTable function when the form is submitted
    $('#filter-form').submit(function (e) {
        e.preventDefault();
        filterTable();
    });

</script>

<script>
    var searchInput = document.getElementById('customersearch');
    var checkboxes = document.querySelectorAll('.selectBox-cont input[type="checkbox"]');
    var labels = document.querySelectorAll('.selectBox-cont label');

    searchInput.addEventListener('input', function (event) {
        var searchTerm = event.target.value.trim().toLowerCase();

        checkboxes.forEach(function (checkbox, index) {
            var stationName = labels[index].textContent.toLowerCase();

            if (stationName.includes(searchTerm)) {
                checkbox.parentElement.style.display = 'block';
            } else {
                checkbox.parentElement.style.display = 'none';
            }
        });
    });
</script>


{% endblock %}