{% extends 'supadmin_layout.html' %} {% load static %} {% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>



<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header">
            <div class="content-page-header">
                <h5>Settings</h5>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-xl-3 col-md-4">

                <div class="card">
                    <div class="card-body">
                        <!-- Settings Menu -->
                        <div class="widget settings-menu mb-0">
                            <ul>
                                <li class="nav-item">
                                    <a href="/profile_settings" class="nav-link active">
                                        <i class="far fa-user"></i> <span>Profile Settings</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/view_company_details" class="nav-link">
                                        <i class="fa-solid fa-suitcase"></i><span>Company Details</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/bank_details" class="nav-link">
                                        <i class="fa fa-university" aria-hidden="true"></i><span>Bank Details</span>
                                    </a>
                                </li>
                               
                                <li class="nav-item">
                                            <a href="/general_parameter" class="nav-link">
                                                <i class="far fa-list-alt"></i> <span>General Parameter</span>
                                            </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/change_password" class="nav-link">
                                        <i class="fas fa-unlock-alt"></i> <span>Change Password</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- /Settings Menu -->
                    </div>
                </div>

            </div>

            <div class="col-xl-9 col-md-8">

                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Basic information</h5>
                    </div>
                    <div class="card-body">

                        <!-- Form -->
                        <form role="form" class="form" id="userform">
                            {% csrf_token %}
                            <div class="row form-group">
                                <label for="name" class="col-sm-3 col-form-label input-label">Photo</label>
                                <div class="col-sm-9">
                                    <div class="d-flex align-items-center">
                                        <label class="avatar avatar-xxl profile-cover-avatar" for="avatar_upload">
                                            {% if std.profile_pic %}
                                            <img class="avatar-img" src="{{ std.profile_pic }}" alt="Profile Image" id="blah">
                                            {% else %}
                                            <img src="/static/assets/img/profiles/avatar-07.jpg" alt="Profile Image">
                                            {% endif %}
                                            <input type="file" id="avatar_upload" name="pic" onchange="previewImage(this);">
                                            <span class="avatar-edit">
                                                <i class="fe fe-edit avatar-uploader-icon shadow-soft"></i>
                                            </span>
                                        </label>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="name" class="col-sm-3 col-form-label input-label">Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="name" id="name"
                                        value="{{std.login_name}}">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="email" class="col-sm-3 col-form-label input-label">Email</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" name="email" id="email"
                                        value="{{std.email}}">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="phone" class="col-sm-3 col-form-label input-label">Phone <span
                                        class="text-muted"></span></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="phone" id="phone"
                                        value="{{std.phno}}">
                                </div>
                            </div>
                          <div class="text-end">
                                <button id="submit" value="{{std.id}}" class="btn btn-primary">Save Changes</button>
                            </div>
                        </form>
                        <!-- /Form -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Wrapper -->
<script>
    function previewImage(input) {
        var imgElement = document.getElementById('blah');
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                imgElement.setAttribute('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>



</div>

<script>
    document.getElementById('settings').classList.add('active');
</script>

<script src="/static/assets/js/update_user.js"></script>


{% endblock %}