{% extends 'supadmin_layout.html' %} {% load static %} {% block body %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header">
            <div class="content-page-header">
                <h5>Metro Stations</h5>
                <div class="list-btn">
                    <ul class="filter-list">
                        <li>
                            <a class="btn btn-filters w-auto popup-toggle"><span class="me-2"><i
                                        class="fe fe-filter"></i></span>Filter </a>
                        </li>
                        <!-- <li>
										<a class="active btn-filters" href="javascript:void(0);"><span><i class="fe fe-list"></i></span> </a>
									</li> -->
                        <!-- <li>
										<a class="btn-filters" href="javascript:void(0);"><span><i class="fe fe-grid"></i></span> </a>
									</li>
									<li> -->
                       
                        <!-- <li>
										<a class="btn btn-import" href="javascript:void(0);"><span><i class="fe fe-check-square me-2"></i>Import Customer</span></a>
									</li> -->
                        <li>
                            <a class="btn btn-primary" href="/add_metrostation"><i class="fa fa-plus-circle me-2"
                                    aria-hidden="true"></i>Add Metrostation</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-sm-6 col-12 d-flex">
                <div class="card inovices-card w-100">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="inovices-widget-icon bg-info-light">
                                <i class="fa fa-subway" style="color: #1a79b4;"></i>
                            </span>
                            <div class="dash-count">
                                <div class="dash-title">Metro Station</div>
                                <div class="dash-counts">
                                    <p>{{metrocount}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-sm-6 col-12 d-flex">
                <div class="card inovices-card w-100">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="inovices-widget-icon bg-green-light">

                                <i class="fa-solid fa-hotel" style="color: #58d479;"></i>

                            </span>
                            <div class="dash-count">
                                <div class="dash-title">Spaces</div>
                                <div class="dash-counts">
                                    <p>{{spaces}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xl-4 col-lg-4 col-sm-6 col-12 d-flex">
                <div class="card inovices-card w-100">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="inovices-widget-icon bg-primary-light">

                                <i class="fa-solid fa-map"></i>

                            </span>
                            <div class="dash-count">
                                <div class="dash-title">Area(sqft)</div>
                                <div class="dash-counts">
                                    <p>{{areasum}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="d-flex justify-content-between align-items-center">
										<p class="inovices-all">No of Invoice <span class="rounded-circle bg-light-gray">06</span></p>
										<p class="inovice-trending text-danger-light">02 <span class="ms-2"><i class="fe fe-trending-down"></i></span></p>
									</div> -->
                    </div>
                </div>
            </div>

        </div>
        <!-- /Inovices card -->


        <div class="row">
            <div class="col-sm-12">
                <div class="card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-center table-hover datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Sl No</th>
                                        <th>Station Name</th>
                                        <th>Email</th>
                                        <th>Phone number</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for p in std %}
                                    <tr class="metroStationRow">
                                        <td>{{forloop.counter}}</td>
                                        <td class="stationName">
                                            <h2 class="table-avatar">
                                                {{p.metrostation.station_name}}
                                            </h2>
                                        </td>
                                        <td>{{p.email}}</td>
                                        <td>{{p.phone_number}}</td>
                                        <td><span class="badge badge-pill bg-success-light">Active</span></td>
                                        <td class="d-flex align-items-center position-absolute">
                                            <a href="{% url 'View_details_metrostation' p.id %}" class="btn btn-greys me-2">
                                                <i class="fa fa-plus-circle me-1"></i>Details
                                            </a>
                                            <div class="dropdown dropdown-action ">
                                                <a href="#" class="btn-action-icon" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <ul>
                                                        <li>
                                                            <a class="dropdown-item"
                                                                href="{% url 'Update_metrostation' p.id %}">
                                                                <i class="far fa-edit me-2"></i>Edit
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                                                onclick="deletemetro('{{p.id}}')">
                                                                <i class="far fa-trash-alt me-2"></i>Delete
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Wrapper -->
<!-- Add Asset -->
<div class="toggle-sidebar">
    <div class="sidebar-layout-filter">
        <div class="sidebar-header">
            <h5>Filter</h5>
            <a href="#" class="sidebar-closes"><i class="fa-regular fa-circle-xmark"></i></a>
        </div>
        <div class="sidebar-body">
            <form id="filterForm" action="{% url 'Viewmetrostaions' %}" autocomplete="off">

                <!-- Customer -->
                <div class="accordion" id="accordionMain1">
                    <div class="card-header-new" id="headingOne">
                        <h6 class="filter-title">
                            <a href="javascript:void(0);" class="w-100" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Metro Stations
                                <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
                            </a>
                        </h6>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample1">
                        <div class="card-body-chat">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="checkBoxes1">
                                        <div class="form-custom">
                                            <input type="text" class="form-control" id="stationsearch" placeholder="Search here">
                                            <span><img src="/static/assets/img/icons/search.svg" alt="img"></span>
                                        </div>
                                        <div id="searchResults"></div>
                                        <div class="selectBox-cont">
                                            {% for p in std %}
                                            <label class="custom_check w-100">
                                                <input type="checkbox" name="username">
                                                <span class="checkmark"></span>{{p.metrostation.station_name}}
                                            </label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Customer -->

                <button type="submit"
                    class="d-inline-flex align-items-center justify-content-center btn w-100 btn-primary">
                    <span></span>Search Results
                </button>
            </form>

        </div>
    </div>
</div>
<!--/Add Asset -->
<!-- Delete Items Modal -->
<div class="modal custom-modal fade" id="delete_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Metro Station</h3>
                    <p>Are you sure you want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <button type="reset" data-bs-dismiss="modal" id="deletestation"
                                class="w-100 btn btn-primary paid-continue-btn">Delete</button>
                        </div>
                        <div class="col-6">
                            <button type="submit" data-bs-dismiss="modal" id="confirm-text"
                                class="w-100 btn btn-primary paid-cancel-btn">Cancel</button>
                            <!-- $("#confirm-text").on("click", function () { Swal.fire({ title: "Are you sure?", text: "You won't be able to revert this!", type: "warning", showCancelButton: !0, confirmButtonColor: "#3085d6", cancelButtonColor: "#d33", confirmButtonText: "Yes, delete it!", confirmButtonClass: "btn btn-primary", cancelButtonClass: "btn btn-danger ml-1", buttonsStyling: !1 }).then(function (t) { t.value && Swal.fire({ type: "success", title: "Deleted!", text: "Your file has been deleted.", confirmButtonClass: "btn btn-success" }) }) }) -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Items Modal -->

<!-- success modal -->
<div id="success_tic" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <a class="close" href="#" data-dismiss="modal">&times;</a>
            <div class="page-body">
                <div class="head">
                    <h3 id="success_text" style="margin-top:5px;"></h3>
                </div>
                <h1 style="text-align:center;">
                    <div class="checkmark-circle">
                        <div class="background"></div>
                        <div class="checkmark draw"></div>
                    </div>
                    <h1>
            </div>
        </div>
    </div>
</div>
<!-- /successmodal -->


<script>
    var searchInput = document.getElementById('stationsearch');
    var checkboxes = document.querySelectorAll('.selectBox-cont input[type="checkbox"]');
    var labels = document.querySelectorAll('.selectBox-cont label');

    searchInput.addEventListener('input', function(event) {
        var searchTerm = event.target.value.trim().toLowerCase();

        checkboxes.forEach(function(checkbox, index) {
            var stationName = labels[index].textContent.toLowerCase();

            if (stationName.includes(searchTerm)) {
                checkbox.parentElement.style.display = 'block';
            } else {
                checkbox.parentElement.style.display = 'none';
            }
        });
    });
</script>


<script>
    document.getElementById('viewmetro').classList.add('active');
    function deletemetro(Id) {

        $('#delete_modal').modal('show');
        $('#deletestation').click(function () {
            $.ajax({
                url: 'deletemetrostaion/' + Id,
                method: 'POST',
                data: { csrfmiddlewaretoken: '{{csrf_token}}' },
                success: function (response) {
                        window.location = '/metrostaion';
                   
                }

            })

        })

    }
</script>

<script>
    function filterTable() {
        var selectedStations = [];
        var checkboxes = document.getElementsByName('username');

        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                selectedStations.push(checkboxes[i].parentNode.textContent.trim());
            }
        }

        var rows = document.getElementsByClassName('metroStationRow');
        for (var i = 0; i < rows.length; i++) {
            var stationName = rows[i].getElementsByClassName('stationName')[0].textContent.trim();
            if (selectedStations.includes(stationName)) {
                rows[i].style.display = '';
            } else {
                rows[i].style.display = 'none';
            }
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        var form = document.getElementById('filterForm');
        form.addEventListener('submit', function(event) {
            event.preventDefault();
            filterTable();
        });
    });
</script>



{% endblock %}