{% extends 'supadmin_layout.html' %} {% load static %} {% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

  	<!-- Page Wrapper -->
      <div class="page-wrapper">
        <div class="content container-fluid">
        
            <!-- Page Header -->
            <div class="page-header">
                <div class="content-page-header">
                    <h5>{{std.metrostation.station_name}} Metro Station</h5>
                </div>
            </div>
            <!-- /Page Header -->

            
            <div class="card customer-details-group">
                <div class="card-body">
                    <div class="row align-items-center">					
                        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                            <div class="customer-details">
                                <div class="d-flex align-items-center">
                                    <span class="customer-widget-icon d-inline-flex">
                                        <i class="fa fa-subway" aria-hidden="true"></i>
                                    </span>
                                    <div class="customer-details-cont">
                                        <h6>Station Name</h6>
                                        <p>{{std.metrostation.station_name}}</p>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                            <div class="customer-details">
                                <div class="d-flex align-items-center">
                                    <span class="customer-widget-icon d-inline-flex">
                                        <i class="fa fa-subway" aria-hidden="true"></i>
                                    </span>
                                    <div class="customer-details-cont">
                                        <h6>Short Name</h6>
                                        <p>{{std.metrostation.s_name}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                            <div class="customer-details">
                                <div class="d-flex align-items-center">
                                    <span class="customer-widget-icon d-inline-flex">
                                        <i class="fa-solid fa-envelope"></i>
                                    </span>
                                    <div class="customer-details-cont">
                                        <h6>Email </h6>
                                        <p>{{std.email}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                            <div class="customer-details">
                                <div class="d-flex align-items-center">
                                    <span class="customer-widget-icon d-inline-flex">
                                        <i class="fa-solid fa-clock"></i>
                                    </span>
                                    <div class="customer-details-cont">
                                        <h6>Open Time</h6>
                                        <p>{{std.metrostation.start_time|time:'h:i'}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                            <div class="customer-details">
                                <div class="d-flex align-items-center">
                                    <span class="customer-widget-icon d-inline-flex">
                                        <i class="fa-solid fa-clock"></i>
                                    </span>
                                    <div class="customer-details-cont">
                                        <h6>Closing Time</h6>
                                        <p class="customer-mail">{{std.metrostation.end_time|time:'H:i'}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                            <div class="customer-details">
                                <div class="d-flex align-items-center">
                                    <span class="customer-widget-icon d-inline-flex">
                                        <i class="fa-solid fa-phone"></i>
                                    </span>
                                    <div class="customer-details-cont">
                                        <h6>Phone Number</h6>
                                        <p class="customer-mail">{{std.phone_number}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>	
                        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                            <div class="customer-details">
                                <div class="d-flex align-items-center">
                                    <span class="customer-widget-icon d-inline-flex">
                                        <i class="fa-solid fa-city"></i>
                                    </span>
                                    <div class="customer-details-cont">
                                        <h6>City</h6>
                                        <p>{{std.city}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>	
                        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                            <div class="customer-details">
                                <div class="d-flex align-items-center">
                                    <span class="customer-widget-icon d-inline-flex">
                                        <i class="fa-solid fa-hashtag"></i>
                                        
                                    </span>
                                    <div class="customer-details-cont">
                                        <h6>Pincode</h6>
                                        <p>{{std.pincode}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>	

                        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                            <div class="customer-details">
                                <div class="d-flex align-items-center">
                                    <span class="customer-widget-icon d-inline-flex">
                                        <i class="fa-solid fa-calendar-days"></i>
                                    </span>
                                    <div class="customer-details-cont">
                                        <h6>Created on</h6>
                                        <p>{{std.created_on|date:'d-m-Y'}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                            <div class="customer-details">
                                <div class="d-flex align-items-center">
                                    <span class="customer-widget-icon d-inline-flex">
                                        <i class="fa-solid fa-user"></i>
                                    </span>
                                    <div class="customer-details-cont">
                                        <h6>Created by</h6>
                                        <p>{{created.login_name}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                            <div class="customer-details">
                                <div class="d-flex align-items-center">
                                    <span class="customer-widget-icon d-inline-flex">
                                        <i class="fa-solid fa-calendar-days"></i>
                                    </span>
                                    <div class="customer-details-cont">
                                        <h6>Updated on</h6>
                                        <p>{{std.updated_on|date:'d-m-Y'}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                            <div class="customer-details">
                                <div class="d-flex align-items-center">
                                    <span class="customer-widget-icon d-inline-flex">
                                        <i class="fa-solid fa-user"></i>
                                    </span>
                                    <div class="customer-details-cont">
                                        <h6>Updated by</h6>
                                        <p>{{updated.login_name}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>	
                    </div>
                </div>
            </div>
                
            <!-- Search Filter -->
            <div id="filter_inputs" class="card filter-card">
                <div class="card-body pb-0">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <label>Phone</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Search Filter -->
            
            <!-- Inovices card -->
            <div class="row">
                <div class="col-xl-2 col-lg-4 col-sm-6 col-12 d-flex">
                    <div class="card inovices-card w-100">
                        <div class="card-body " >
                                <div class="dash-widget-header">
                                    <span class="inovices-widget-icon bg-info-light ">
                                        <i class="fa-solid fa-hotel" style="color: #2ea2cc;"></i>
                                    </span>
                                    <div class="dash-count">
                                        <div class="dash-title">
                                            Spaces																	
                                        </div>
                                        <div class="dash-counts">
                                            <p>{{space_count}}</p>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-6 col-12 d-flex">
                    <div class="card inovices-card w-100">
                        <div class="card-body">
                                <div class="dash-widget-header">
                                    <span class="inovices-widget-icon bg-danger-light">
                                        <i class="fa-solid fa-lock"></i>
                                    </span>
                                    <div class="dash-count">
                                        <div class="dash-title">Occupied </div>
                                        <div class="dash-counts">
                                            <p>{{occupied}}</p>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-6 col-12 d-flex">
                    <div class="card inovices-card w-100">
                        <div class="card-body">
                                <div class="dash-widget-header">
                                    <span class="inovices-widget-icon bg-success-light">
                                        <i class="fa-solid fa-lock-open" ></i>
                                    </span>
                                    <div class="dash-count">
                                        <div class="dash-title">Vacant</div>
                                        <div class="dash-counts">
                                            <p>{{vacant}}</p>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-6 col-12 d-flex">
                    <div class="card inovices-card w-100">
                        <div class="card-body">
                                <div class="dash-widget-header">
                                    <span class="inovices-widget-icon bg-primary-light">
                                        <i class="fa-solid fa-house-laptop"></i>
                                    </span>
                                    <div class="dash-count">
                                        <div class="dash-title">Office</div>
                                        <div class="dash-counts">
                                            <p>{{office}}</p>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-6 col-12 d-flex">
                    <div class="card inovices-card w-100">
                        <div class="card-body">
                                <div class="dash-widget-header">
                                    <span class="inovices-widget-icon bg-1">
                                        <i class="fa-solid fa-shop" style="color: #db992e;"></i>
                                    </span>
                                    <div class="dash-count">
                                        <div class="dash-title">Kiosk</div>
                                        <div class="dash-counts">
                                            <p>{{kiosk}}</p>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-6 col-12 d-flex">
                    <div class="card inovices-card w-100">
                        <div class="card-body">
                            <div class="dash-widget-header">
                                <span class="inovices-widget-icon bg-4">
                                    <i class="fa-solid fa-map" aria-hidden="true"></i>
                                </span>
                                <div class="dash-count">
                                    <div class="dash-title">Area</div>
                                    <div class="dash-counts">
                                        <p>{{areasum}} sqft</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Inovices card -->

            <!-- Table -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-table"> 
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-stripped table-hover datatable">
                                    <thead class="thead-light">
                                        <tr>
                                            <tr>
                                                <th>Sl No</th>
                                                <th>Space Name</th>
                                                <th>Station</th>
                                                <th>Type </th>
                                                <th>Area Type</th>
                                                <th>Area Level</th>
                                                <th>Area Side</th>
                                                <th>Area </th>
                                                <th>Status</th>
                                                <th>Actions</th>
                                            </tr>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for p in space_details %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{p.space_name}}</td>
                                            <td>{{p.metrostation.metrostation.station_name}}</td>
                                            <td>{{p.space_type}}</td>
                                            <td>{{p.area_type}}</td>
                                            <td>{{p.area_level}}</td>
                                            <td>{{p.area_side}}</td>
                                            <td>{{p.area}} sqft</td>
                                            {% if p.vacancy_status == 1 %}
                                            <td class="status"><span class="badge badge-pill bg-success-light">Vacant</span></td>
                                            {% elif p.vacancy_status == 2 %}
                                            <td class="status"><span class="badge bg-warning-light text-warning-light">Occupied</span></td>
                                            {% else %}
                                            <td class="status"><span class="badge badge-pill bg-danger-light">Inactive</span></td>
                                            {% endif %}
                                            <td class="d-flex align-items-center">
                                                <a href="/space_details/{{p.id}}" class="btn btn-greys me-2"><i class="fa fa-plus-circle me-1"></i> Details</a>   
                                               
                                            </td>
                                        </tr>
                                      
                                        
                                        {% endfor %}
                                        
                                    
                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Table -->

            <!-- Delete Items Modal -->
            <div class="modal custom-modal fade" id="delete_modal" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-md">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="form-header">
                                <h3>Delete Customer Details</h3>
                                <p>Are you sure you want to delete?</p>
                            </div>
                            <div class="modal-btn delete-action">
                                <div class="row">
                                    <div class="col-6">
                                        <a href="#" data-bs-dismiss="modal" class="btn btn-primary paid-continue-btn">Delete</a>
                                    </div>
                                    <div class="col-6">
                                        <a href="#" data-bs-dismiss="modal" class="btn btn-primary paid-cancel-btn">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Delete Items Modal -->
            
        </div>
    </div>
   
<!-- /Page Wrapper -->


<script>
    document.getElementById('viewmetro').classList.add('active');
</script>

<script src="/static/assets/js/create_metrostation.js"></script>

<style>
    .error  {
        color: red;
    }
    .address{
        color: blue;
    }
</style>


{% endblock %}