{% extends 'supadmin_layout.html' %} {% load static %} {% block body %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header">
            <div class="content-page-header">
                <h5>Grievances</h5>
                <div class="list-btn">
                    <ul class="filter-list">
                        <li>
                            <a class="btn btn-filters w-auto popup-toggle"><span class="me-2"><i
                                        class="fe fe-filter"></i></span>Filter </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <!-- Credit card -->
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-sm-6 col-12">
                <div class="card inovices-card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="inovices-widget-icon bg-info-light">
                                <i class="fa-regular fa-comment" style="color: #2e68cc;"></i>
                            </span>
                            <div class="dash-count">
                                <div class="dash-title">Total Grievances</div>
                                <div class="dash-counts">
                                    <p>{{total}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-sm-6 col-12">
                <div class="card inovices-card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="inovices-widget-icon bg-danger-light">
                                <i class="fa-regular fa-folder-closed" style="color: #c81919;"></i> </span>
                            <div class="dash-count">
                                <div class="dash-title">Resolved</div>
                                <div class="dash-counts">
                                    <p>{{resolved}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-sm-6 col-12">
                <div class="card inovices-card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="inovices-widget-icon bg-green-light">
                                <i class="fa-regular fa-folder-open" style="color: #21c43c;"></i>
                            </span>
                            <div class="dash-count">
                                <div class="dash-title">Open</div>
                                <div class="dash-counts">
                                    <p>{{open}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Credit card -->

        <!-- Table -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-stripped table-hover datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Sl No</th>
                                        <th>Name</th>
                                        <th>Mobile Number</th>
                                        <th>Reason</th>
                                        <th>Created On</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                {% for p in std %}
                                <tbody>
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td class="customer">
                                            <h2 class="table-avatar">
                                                <a href="/customer_details/{{p.customer_contact.id}}" class="avatar avatar-md me-2"><img class="avatar-img rounded-circle"
                                                        src="/static/assets/img/profiles/avatar-07.jpg"
                                                        alt="User Image"></a>
                                                <a href="/customer_details/{{p.customer_contact.id}}">{{p.customer_contact.customer.customer_name}}</a>
                                            </h2>
                                        </td>
                                        <td>{{p.customer_contact.phone_number}}</td>
                                        <td> {{p.reason}}</td>
                                        <td class="created-on">{{p.created_on|date:'Y-m-d'}}</td>
                                        {% if p.status == 1 %}
                                        <td class="status"><span class="badge badge-pill bg-success-light">Open</span>
                                        </td>
                                        {% elif p.status == 2 %}
                                        <td class="status"><span
                                                class="badge badge-pill bg-danger-light">Resolved</span></td>
                                        {% endif %}
                                        <td class="d-flex align-items-center">
                                            <a class=" btn-action-icon me-2"
                                                href="{% url 'Customer_grievance_form' p.id %}"><i class="fe fe-eye"
                                                    aria-hidden="true"></i>
                                            </a>
                                            <a class=" btn-action-icon" href="#" data-bs-toggle="modal"
                                                onclick="deletecustomergrievance('{{p.id}}')"><i
                                                    class="far fa-trash-alt"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Table -->

    </div>
</div>
<!-- /Page Wrapper -->

<!-- Delete Items Modal -->
<div class="modal custom-modal fade" id="delete_customer_grievance" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Message</h3>
                    <p>Are you sure you want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <button type="reset" id="delete" data-bs-dismiss="modal"
                                class="w-100 btn btn-primary paid-continue-btn">Delete</button>
                        </div>
                        <div class="col-6">
                            <button type="submit" data-bs-dismiss="modal"
                                class="w-100 btn btn-primary paid-cancel-btn">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Items Modal -->

<!-- Add Asset -->
<div class="toggle-sidebar">
    <div class="sidebar-layout-filter">
        <div class="sidebar-header">
            <h5>Filter</h5>
            <a href="#" class="sidebar-closes"><i class="fa-regular fa-circle-xmark"></i></a>
        </div>
        <div class="sidebar-body">
            <form id="filter-form" autocomplete="off">
                <!-- Customer -->
                <div class="accordion" id="accordionMain1">
                    <div class="card-header-new" id="headingOne">
                        <h6 class="filter-title">
                            <a href="javascript:void(0);" class="w-100" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Customer
                                <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
                            </a>
                        </h6>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample1">
                        <div class="card-body-chat">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="checkBoxes1">
                                        <div class="form-custom">
                                            <input type="text" class="form-control" id="customersearch"
                                                placeholder="Search here">
                                            <span><img src="/static/assets/img/icons/search.svg" alt="img"></span>
                                        </div>
                                        <div class="selectBox-cont" id="selectcustomer">
                                            {% for p in customer %}
                                            <label class="custom_check w-100">
                                                <input type="checkbox" name="stationname" class="customer"
                                                    value="{{p.customer.customer_name}}">
                                                <span class="checkmark"></span> {{p.customer.customer_name}}
                                            </label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Customer -->



                <!-- By Status -->
                <div class="accordion" id="accordionMain3">
                    <div class="card-header-new" id="headingThree">
                        <h6 class="filter-title">
                            <a href="javascript:void(0);" class="w-100 collapsed" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                By Status
                                <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
                            </a>
                        </h6>
                    </div>

                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample3">
                        <div class="card-body-chat">
                            <div id="checkBoxes2">
                                <div class="selectBox-cont">
                                    <label class="custom_check w-100">
                                        <input type="checkbox" name="bystatus" class="status" value="Open">
                                        <span class="checkmark"></span> Open
                                    </label>
                                    <label class="custom_check w-100">
                                        <input type="checkbox" name="bystatus" class="status" value="Resolved">
                                        <span class="checkmark"></span> Resolved
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /By Status -->
                <!-- Select Date -->
                <div class="accordion" id="accordionMain2">
                    <div class="card-header-new" id="headingTwo">
                        <h6 class="filter-title">
                            <a href="javascript:void(0);" class="w-100 collapsed" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                Select Date
                                <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
                            </a>
                        </h6>
                    </div>

                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample2">
                        <div class="card-body-chat">
                            <div class="form-group">
                                <label class="form-control-label">From</label>
                                <div class="">
                                    <input type="date" class="form-control datetimepicker" id="from"
                                        placeholder="DD-MM-YYYY">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">To</label>
                                <div class="">
                                    <input type="date" class="form-control datetimepicker" id="to"
                                        placeholder="DD-MM-YYYY">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- /Select Date -->
                <button type="submit"
                    class="d-inline-flex align-items-center justify-content-center btn w-100 btn-primary">
                    <span></span>Search Results
                </button>
            </form>

        </div>
    </div>
</div>
<!--/Add Asset -->

<script>
    //Filter Tables
    function filterTable() {
        var selectedCustomers = [];
        var selectedStatuses = [];
        var from = $('#from').val();
        var to = $('#to').val();


        // Get the selected checkboxes
        var selectedCustomers = $('.customer:checked').map(function () {
            return $(this).val();
        }).get();

        var selectedStatuses = $('.status:checked').map(function () {
            return $(this).val();
        }).get();
        

        // Filter the table rows
        $('.datatable tbody tr').each(function () {
            var customer = $(this).find('.customer').text().trim();
            var status = $(this).find('.status').text().trim();
            var date = $(this).find('.created-on').text().trim();

            var customerMatch = selectedCustomers.length === 0 || selectedCustomers.includes(customer);
            var statusMatch = selectedStatuses.length === 0 || selectedStatuses.includes(status);
            var dateMatch = (from === '' && to === '') || (date >= from && date <= to);



            if (customerMatch && statusMatch && dateMatch) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    }

    // Call the filterTable function when the form is submitted
    $('#filter-form').submit(function (e) {
        e.preventDefault();
        filterTable();
    });

</script>

<script>
    //Search Customer
    var searchInput = document.getElementById('customersearch');
    var checkboxes = document.querySelectorAll('.selectBox-cont input[type="checkbox"]');
    var labels = document.querySelectorAll('.selectBox-cont label');

    searchInput.addEventListener('input', function (event) {
        var searchTerm = event.target.value.trim().toLowerCase();

        checkboxes.forEach(function (checkbox, index) {
            var customerName = labels[index].textContent.toLowerCase();

            if (customerName.includes(searchTerm)) {
                checkbox.parentElement.style.display = 'block';
            } else {
                checkbox.parentElement.style.display = 'none';
            }
        });
    });
</script>

<script>
    document.getElementById("grievances").classList.add("active");
</script>
<script>
    function deletecustomergrievance(ID) {
        $('#delete_customer_grievance').modal('show');
        $('#delete').click(function () {
            $.ajax({
                url: 'deletecustomergrievance/' + ID,
                method: 'post',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
                success: function (response) {
                    // alert(response)
                    window.location.href = '/customer_grievances';
                }
            });
        })
    }
</script>
{% endblock %}